[2016-01-22 21:44] yoeran opened #1 "'note-transpose' is not in the npm registry"
Hi! I just wanted to try out your library but ran into an error during npm install.

The error I get is this:
[code]

From your NPM registry page I found that the `note-transpose` module has an npm invalid flag.
Also the link to the repository is no longer available on github.

[2016-01-23 09:13] danigb commented on #1
Yes, sorry. I've updated the package dependencies in the npm registry. Tell me if it works.

[2016-01-24 19:44] yoeran commented on #1
Quick response thanks! Installation works like a charm again. Will try the package later this week.

[2016-01-24 19:44] #1 closed

[2016-03-23 02:35] zzz6519003 opened #3 "would be awesome if you can give us some demo with we can hear"
:beer:

[2016-03-23 11:07] danigb commented on #3
Yes, I know. I'll work on that soon 👍

[2016-03-24 03:54] #3 closed

[2016-04-29 04:32] devboell opened #4 "note-range package status"
Hi there,

  I was wondering about the note-range package. It appears it is not part of the current npm install of tonal and has the 'npm invalid' tag. Will it be included in a next release, or is there another way I can use it?

  thanks

[2016-04-29 09:42] danigb commented on #4
Hi,

I'm working hard on next version of tonal (0.50.x series) that I hope will be release at the end of next week. It will include note-range by default. Meanwhile, the only option is to clone this repo and install the package manually:

[code]

Cheers,
Dani

[2016-04-30 07:35] devboell commented on #4
Good to hear a new version is coming soon!
  I think I have a workaround for now, but I have a question on how you will be handling enharmonics for chromatic scales. My use case is that I want to generate a noteMatrix representing a guitar fretboard, based on a tuning. So, roughly my code is this:

[code]

This results f.i. in that a raised A3 on the sixth string will be A#3, but on the fifth stri

[2016-04-30 11:25] danigb commented on #4
Hi Rob, this is an interesting use case. Currently I'm outside for three days, but I will think about it, and propose some solutions as soon I'm back. 👍

[2016-05-02 19:28] danigb commented on #4
Hi Rob,

I'm back. I assume that you want to display the same scale over the fretboard. The problem with your example is that you are creating a different scale for each string (the same intervals, but with different tonic: different scale). What you need, in fact, is note-range. With note-range you can specify an scale and a first and last note and you will get that scale between that notes. The

[2016-05-03 06:15] devboell commented on #4
Hi Dani,

  Thanks for coming back to this. I agree using note-range would be the cleanest solution, so I'll just wait until you are ready with the next release. I don't think a special tonal-fretboard module is necessary, although I am unclear if the current version of note-range already supports the behaviour you describe (on the current master-branch I see ``` range(scale, tonic, length) ```.

[2016-05-03 07:22] danigb commented on #4
Hi Rob,

The next iteration of tonal is being developed in the 0.50.x branch. Currently the scaleRange function is implemented at the bottom of: https://github.com/danigb/tonal/blob/tonal-0.50.x/packages/tonal-scales/lib/index.js (but I'm not sure if this is going to be the definitive place). The test are here: https://github.com/danigb/tonal/blob/tonal-0.50.x/packages/tonal-scales/test/scale-rang

[2016-05-03 09:20] devboell commented on #4
Aha, that looks very good!

 Thanks a lot Dani, and good luck with the release!

[2016-05-03 10:11] danigb commented on #4
Thanks Rob. Latest update: range related methods finally has its own module (again): https://github.com/danigb/tonal/tree/tonal-0.50.x/packages/tonal-ranges

You can read the API here: https://github.com/danigb/tonal/blob/tonal-0.50.x/packages/tonal-ranges/API.md

[2016-05-05 07:02] devboell commented on #4
cool, I also noticed the ```chromatic(...)``` method, which is very handy. I cloned the 0.50 branch on my machine, and tried to play with it, but I ran into some installation problems. This could well be because I am not installing correctly, or just because the branch-repo is in flux at the moment.
  So, I still have a couple of questions, but since you're working on the release, I'm not sure if

[2016-05-05 08:35] danigb commented on #4
Great! This is the perfect time to raise them. Cheers, Dani

[2016-05-05 09:23] devboell opened #5 "problems installing current tonal-0.50.x branch"
I'll just copy the terminal commands I used:

[code]
this resulted in
[code]

then I continued with:
[code]
which gives this error:

[code]

[2016-05-05 09:23] devboell commented on #4
ok, then first about the installation, I opened a separate issue, please have look.

[2016-05-05 09:48] devboell opened #6 "Question on project structure"
I was wondering how the main ```tonal/lib/tonal.js``` file relates to the individual packages. I don't see how they are connected. Will usage be like:
[code]
and/or:

[code]

[2016-05-05 10:25] danigb commented on #5
Yes, i'm mostly renaming things so it's quite unstable branch. I'll try to fix it asap.

[2016-05-05 10:39] danigb commented on #6
Yes, this the big question I'm trying to solve (and suggestions welcomed). In the previous iteration all the modules were exposed in the tonal npm package. But this approach has some problems, like the one you're showing here: it's no easy to know what's inside and _how_ to access. Also, the package size is quite big for a library that (I think) is focused mostly for browsers.

My preference for t

[2016-05-05 10:53] danigb commented on #5
Ok, currently it's not so easy to build this project. It has two __: first, code is written in ES6 style so it has to be converted to standard (old) JS. This is solved via rollup and babel. Second, because the multi-package structure, some packages depends on other packages not yet published. This is (partially) solved via lerna (but It has some bugs, so I think it will be removed in the near futu

[2016-05-05 13:16] devboell commented on #5
yes, that did the trick! it all works now.

And your English is near perfect, so don't worry about it :-)

[2016-05-05 13:19] danigb commented on #6
Hi, just to show (instead of describe) what I'm thinking I've added a first version of the tonal package to the repo. You can take a look to the source code here: https://github.com/danigb/tonal/blob/tonal-0.50.x/packages/tonal/lib/index.js

Ideas are welcomed. Cheers.

[2016-05-05 13:30] danigb commented on #5
Great! I expect to simplify this process soon and add detailed instructions when ready (and for sure, you won't need it at all when packages are published).

[2016-05-05 16:04] devboell commented on #6
Hey Dani,
  I am a bit hesitant to make suggestions, because it's been a while since I have done any serious programming, and I am quite new to nodejs, npm and all the new tools and libs.

Here's what comes to mind:

 If you decide to only expose a couple of the packages, isn't the criterium of which ones to select seems a bit subjective? I mean, I would sooner expect note, interval and chord to b

[2016-05-05 19:06] danigb commented on #6
Hi Rob,

Thanks for the detailed feedback. It's really appreciated. I try to answer (also to me) some of the concerns you arise:

Yes, in some part is quite subjective. While I was developing tonal I keep learning new stuff from tonal music theory and wondering if I should put in the library or not. Binary scales, for example. It's not very known, but helps a lot with chord and scale detection. Or

[2016-05-07 09:09] devboell commented on #6
Hi Dani,

  I can certainly understand your reasoning. Keeping your library light-weight and easy to set-up is indeed an important consideration.
  On the subject of exporting functions or modules I am kind of undecided. I think for someone new to a library (or an app that uses a library) it is convenient to use modules so you can easily see where a function lives in case you want to check the sou

[2016-05-07 14:35] danigb commented on #6
Hi Rob,

Thanks a lot for your detailed feedback. It's really appreciated. I new version of tonal is coming, and I'll consider your opinions.

Good luck with your fretboard app and don't hesitate to ask if you have any problem with tonal.

Cheers,
Dani

[2016-05-08 13:53] danigb opened #8 "tonal-fretboard"
Hi @devboell,

I would like to have a tonal-fretboard module, and I thought maybe we can share some ideas before. The API I was thinking is something like this:

- `tuning(name)`: return an array of notes with the strings in open position. For example, for `tuning('guitar')` it would return `['E2', 'A2', 'D3', 'G3', 'B3', 'E4']`. A kind of dictionary of corded instruments tunings.
- `build(tuning,

[2016-05-09 07:39] devboell commented on #8
Hey Dani,

  Sure, sounds good.
  You have to bear in mind that guitarists like to use different tunings. Next to standard tuning, the are lots of alternate tunings, some of which are used often. Here's a whole list: [https://en.wikipedia.org/wiki/List_of_guitar_tunings](url)

  As long as ```build(tuning, first, last)``` takes an array of notes as a first param, there's no problem, but it may com

[2016-05-09 15:22] danigb commented on #8
Great! Thanks, I would try to write a first implementation. By set I'm basically referring to scales, a collection of unique pitch classes (https://en.wikipedia.org/wiki/Set_theory_(music). It can be used to represent chords.

[2016-05-10 09:12] danigb commented on #5
Hi @devboell

As you can notice, the 0.50.x branch was merged to master and released, so I'm closing this issue. Yo can reopen it if you need it.
Cheers.

[2016-05-10 09:12] #5 closed

[2016-05-10 09:14] danigb commented on #4
Hi again,

The first of 0.50.x series is released with tonal-range included and enhanced. As you can test, you can pass several notes to create comples ranges: `tonal.range('C2 C4 E3') => ['C2' ... 'C4' ... 'E3']`

I'm closing this issue but please reopen if you have any problem or question.

[2016-05-10 09:14] #4 closed

[2016-05-10 09:15] danigb commented on #6
Hi,

Finally for the 0.50.x release I decided to include a selection of modules in `tonal` facade and to not namespace. I hope is everything clear in README. Please reopen the issue if you have any question.

[2016-05-10 09:15] #6 closed

[2016-06-16 03:32] grimmdude commented on #8
This would be a useful module.  I'm happy to help as well,

-Garrett

[2016-06-16 10:54] danigb commented on #8
Hi Garret! The first version of the module it's implemented here: https://github.com/danigb/tonal/blob/master/modules/fretboard/index.js

It's not published on npm yet. Suggestions and PR welcomed :-)

[2016-06-17 06:58] grimmdude commented on #8
Nice, it's looking good.  I just though of an interesting idea; a method that takes a chord name and returns an array of objects containing the string and fret number.  Could be useful for building chord charts, etc.  The logic would have to take into account tuning of course, and nearby chord notes that are within reaching distance of each other.

`chordShapes(chord) => [{'E2' : 3, 'A2' : 2}]`

I

[2016-06-17 07:43] danigb commented on #8
Great Garret! Looking forward a PR ;-) Don't hesitate to ask if you found any trouble.

[2016-06-17 12:00] mitselek commented on #8
If this means I could generate a chord diagrams for arbitrary tuning, then Your work might start an unexpected revolution in pop music.

[2016-06-17 12:10] mitselek commented on #8
The classical tuning is mathematically quite solid but I'm not sure it's optimal for fingers.
Next thing somebody will build a tuning generator where you feed in the array of chords to play and get back finger-optimized tuning. Combining this with guitar tuner app will make any piece playable for everybody.
Imagine an app, where you put in your favourite song and instantly get back to adjusted tun

[2016-06-19 09:46] danigb opened #10 "Array.compact filters 0"
Currently Array.compact and Array.cMap filters 0, but it shouldn't.

[2016-06-19 09:48] #10 closed

[2016-09-21 23:12] kasbah opened #13 "Tonal scale source/docs are outdated"
NPM has version `0.50.5` and the package.json on here says `0.50.0`. The docs seem to be outdated on both GitHub and NPM since there is no `scale.get` but a `scale.scale` function.

Thanks for this amazing library of useful bits!

[2016-09-21 23:24] kasbah opened #14 "tonal.scaleRange behaving differently to range.scale"
With latest versions from NPM:

[code]

[2016-09-22 10:02] danigb commented on #14
Hi @kasbah,

Thanks for reporting this issue. Unfortunately `tonal-ranges` is deprecated, but it can't be unpublished due the new policy from npmjs. I'm sorry for the name pollution (I've just added a deprecated warning). The actual library is called `tonal-range` (in singular).

The usage is:
[code]

Obviously is quite confusing, so I will try to improve the documentation (issue #13) or find a ni

[2016-09-22 10:18] kasbah commented on #14
Thanks @danigb, the main problem seems to be that `tonal.scaleRange` is giving an invalid result though?

[code]

[2016-09-22 10:27] danigb commented on #14
Well, the problem in fact is with the function signature. The range must be specified as a single string, so instead of: `scaleRange(..., 'C3', 'C2')` you have to write `scaleRange(...,'C3 C2')`

This was not a right decision, so I'll improve it too.

[2016-09-22 10:35] kasbah commented on #14
Oh ok, it isn't it using `tonal-range` code itself?

[2016-09-22 10:37] danigb commented on #14
Yes, `tonal.scaleRange` is the same function as `range.scaleRange`. The problem is in the documentation. I'll fix it ASAP.

[2016-09-22 10:38] kasbah commented on #14
Ah I see, I think it was mainly [this documentation](https://github.com/danigb/tonal/tree/master/modules/range#scalerangenotes-start-end--array) which led me astray.

[2016-09-22 10:41] danigb commented on #14
Exactly. But I think the function signature is more natural as the documentation says... I think it will accept both forms: `scaleRange(scale, range)` and `scaleRange(scale, start, end)`. I went with the first one for some reason I don't remember right now. I'll take a look and try to find a solution. Meanwhile you can use it as: `scaleRange(scale, range)`

[2016-09-22 10:45] kasbah commented on #14
Thanks very much! If you are going to amend it though I just thought I'd mention how I am using it. Currently I grab scales from `tonal-scales` and then I have to bring them into the string format as well which is a little awkward. Maybe there is a better way to do this?

[code]

[2016-09-22 10:49] kasbah commented on #14
I had another thought about the original bug: why not just publish `tonal-ranges` to be the same as `tonal-range`?

[2016-09-22 10:50] danigb commented on #14
I think all `tonal` functions accepts list of notes as strings or as arrays, so you don't have to do the convertion:

[code]

But again, I have a name pollution problem. The actual library is not `tonal-scales`but `tonal-scale`:

[code]

I now this is confusing. I'll fix that too. I'm open to suggestions.

Thanks!

[2016-09-22 10:51] danigb commented on #14
I like your solution with the npmjs names problem.

[2016-10-09 22:11] bwestergard opened #15 "tonal-chords example does not work"
The example given [here](https://www.npmjs.com/package/tonal-chords) is broken.

[code]

[2016-11-15 02:23] ajrussellaudio commented on #15
[code]
That's as close as I can get it. I like the behaviour in the documentation, but I'd like to know the wider consensus.

[2016-11-15 20:01] danigb commented on #15
I'm going to solve this issue and others in the next 0.60.0 version I'm working in. I hope I close this issue soon.

[2016-11-16 11:34] danigb commented on #15
Hi,

In the latest version you can:

[code]

I hope it works for you. If you are using and older version, take care of the breaking changes. Basically the functions are now namespaced, so instead of `tonal.pc` (to get the note pitch class) you should write: `tonal.note.pc`. I hope the improved documentation (http://danigb.github.io/tonal/api/) helps.

Please free to reopen this issue if that not w

[2016-11-16 11:34] #15 closed

[2016-11-16 11:36] danigb commented on #13
I had vastly improved the documentation (https://danigb.github.io/tonal/api/) and now it's up to date to the code.

Please free to reopen if you find some inconsistency.

Regards,
Dani

[2016-11-16 11:36] #13 closed

[2017-01-19 17:36] b2renger opened #16 "is there a client side release ?"
Hi @danigb

cross-posting from this issue  : https://github.com/danigb/tonal.chord/issues/1

as I'm a bit confused, tonal-chord was usable client side, but it seems that tonal is nodejs based and supposed to run server-side am I right ? is there a client-side distribution ?

[2017-01-19 18:13] danigb commented on #16
Yes, you can use the one from 'dist' folder

El jue., 19 ene. 2017 18:36, b2renger <notifications@github.com> escribió:

[2017-01-19 19:01] b2renger commented on #16
I saw them but I cannot seem to get them working should I call an init function ?

I should be able to do something like :

[code]

right away ? but I'm getting a "Uncaught ReferenceError: chord is not defined"

[2017-01-19 19:10] danigb commented on #16
Is exported as `Tonal`:

[code]

I hope it helps. Probably I should update the README.

[2017-01-19 19:36] b2renger commented on #16
Great ! a capital 't' it is :)  and now I see where it is in the code : thanks !

There is a lot more functionalities here, it's quite impressive 1st_place_medal:

[2017-01-19 19:36] #16 closed

[2017-01-19 19:38] danigb commented on #16
Thanks! Any suggestion, issue or PR are more than welcome.

[2017-01-31 05:50] ohmycode opened #17 "progression.concrete() doens't recognize VII chords"
@danigb I found a little bug:

`progression.concrete('I II III IV V VI VII', 'C')`

returns:
`['C', 'D', 'E', 'F', 'G', 'A', 'null']`

Love tonal, thanks for sharing!
Saludos 🍺

[2017-01-31 09:14] #17 closed

[2017-01-31 09:15] danigb commented on #17
Hi!

Good catch. Thanks! I hope it solved: https://github.com/danigb/tonal/blob/master/packages/progression/test/progression-test.js#L7

Un saludo

[2017-01-31 09:35] danigb commented on #17
I've just published 0.68.1 with the fix. Thanks for the issue

[2017-01-31 12:23] ohmycode commented on #17
perfect! thank you 👍

[2017-03-12 15:33] roelofvkr opened #20 "Tonal Parses 7(something) chords incorrectly"
I'm using tonal in combination with Midiguchi, and one thing that is happening for me right now, which i think is an issue with the library.
I'm using `tonal.chord.detect([notes])` to get the chord name and then later on i use `tonal.chord.parse([chordname that i got from detect])` to get the chord type.
This all works fine, but one issues i'm having right now is that whenever `tonal.chord.notes()

[2017-03-12 22:59] danigb commented on #20
Hi,

I'm sorry for the inconvenience. It would help if you write a little piece of code that I can use to reproduce your issue.

[2017-03-13 23:35] roelofvkr commented on #20
Yeah of course, here's a test function i just wrote to see if i could get it to work properly, it's very basic but it  still gives the same problem
[code]

when I call that function i get this result:
[code]

As you can see the tonic returned is a chord and the notes array returns empty.

[2017-03-14 15:07] #20 closed

[2017-03-14 15:29] danigb commented on #20
Hi @roelofvkr

I've fixed the issue as you can see [here](https://github.com/danigb/tonal/blob/master/packages/chord/test/chord.test.js#L30) and [here](https://github.com/danigb/tonal/blob/master/packages/chord/test/chord.test.js#L41). I've published a patch version with the fixes in npm (0.69.1). Hope it helps. Please reopen the issue if the problem persists. Thanks for reporting.

[2017-03-20 22:54] micahscopes opened #21 "trouble with rollup and json imports"
`tonal-scale` seems to rely on rollup-plugin-json.  the only thing is that since I'm using rollup in my project, I had to figure out that I needed to use rollup-plugin-json in my rollup configuration too.  This seems like a funky area with rollup/es6 modules.

[2017-03-20 22:55] danigb commented on #21
Didn't know... Any suggestion?

[2017-03-20 23:10] micahscopes commented on #21
ahhh, I saw [here](https://github.com/danigb/tonal/blob/master/packages/scale/index.js#L20) that you're using `require` to include the `scales.json` file...  so you aren't relying on `rollup-plugin-json` after all.  I'm not sure why my rollup configuration is choking on that file without the plugin...

I need to dig deeper.  I just realized that I'd disabled jsnext in my build, which means I was u

[2017-03-20 23:37] micahscopes commented on #21
The takeaway for me this afternoon is that rollup is hard to use.

On Mar 20, 2017 5:55 PM, "danigb" <notifications@github.com> wrote:

[2017-04-12 18:44] LuisRodriguezLD opened #22 "Support for slash chords?"
Hello.

Great repo, is there any support for slash chords? https://en.wikipedia.org/wiki/Slash_chord
I couldn't find anything in the docs.

Like, `D/F#` ?
I'd like to transpose it but I get something like `["E", null, "G#"]`

[2017-04-14 12:06] ohmycode opened #23 "error thrown in mobile safari"
Hey @danigb,

I just noticed that when I try to run your library from mobile Safari, it throws an error:

"SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode."

I don't know if the problem is iOS (9.3.5) not supporting ES6 or if strict mode should't be specified in each of your modules.

[2017-04-27 02:59] justinjmoses opened #24 "diminished not harmonizing"
There's a bug detecting diminisheds in `harmonize`. The example from the README states:

`tonal.harmonize('P1 m3 d5', 'C') // => ['C', 'Eb', 'Gb']`

yet only `['C', 'Eb']` is yielded

[2017-04-27 11:09] danigb commented on #24
Hi @justinjmoses,

You're completely right. The problem is that: "d5" can be interpreted as a diminished fifth or as a note "d" in 5th octave (and harmonize treats as the latter). This is why I recommend using the inverse shorthand interval notation: "5d" instead of "d5" (a recommendation I didn't follow in the README 😢 )

The correct code should be:
`tonal.harmonize('1P 3m 5d', 'C') // => ['C', '

[2017-04-27 11:09] #24 closed

[2017-05-03 14:26] justinjmoses commented on #24
Makes sense. Good to know the workaround thanks @danigb

[2017-05-04 19:11] warriorpostman commented on #23
@ohmycode In order to run ES6-based code on older browsers, I believe you need to accomodate backwards-compatibility using Babel, es6-shim or something similar with your web-app code.

[2017-05-04 23:11] ohmycode commented on #23
yes, thank you @warriorpostman, that's what I've com up with also.
For further reference: [babel-plugin-transform-es2015-block-scoping](https://www.npmjs.com/package/babel-plugin-transform-es2015-block-scoping) is the babel plugin that converts const ant let back to var.

[2017-05-05 13:26] danigb commented on #23
Hi,

Thanks @ohmycode for reporting and @warriorpostman for the answer 👍 👏

... but, I tried to make tonal ES5 compatible out-of-the-box providing `/dist` files for all packages. @ohmycode, can you give me a snippet of code to reproduce the issue?

Thanks both!

[2017-05-05 14:24] ohmycode commented on #23
Hey @danigb,

I've included tonal in a [meteor](https://www.meteor.com/) package as a NPM dependency.

`Npm.depends({
    tonal : '0.69.5'
});`

In that case meteor takes care of the building process, which uses Babel as compiler. I guess It would be a bit cumbersome to include a packed file out of the dist folder instead of using the NPM package. Actually I didn't managed to get the babel-plugin-

[2017-05-05 17:31] danigb commented on #21
Hi @micahscopes

I've improved the ES6 module support and the latest version (0.69.6) works with rollup. I'm closing this issue, but feel free to reopen if the problem persists.

[2017-05-05 17:31] #21 closed

[2017-05-05 17:32] danigb commented on #23
Hi @ohmycode, I've published a new version (0.69.6) that should fix this problem. Can you test if it works for you, please?

Thanks

[2017-05-06 11:18] ohmycode commented on #23
Thank you @danigb, build went through without any issues 👍  👍

[2017-05-06 20:05] danigb commented on #22
Sorry, I've missed this issue. There's no support, but I'm open to ideas about how to implement it. What are the expected inputs and outputs, for example?

[2017-05-06 20:10] #23 closed

[2017-05-09 09:59] danigb opened #26 "Towards a 1.0.0 release"
## Goals

#### Simplify, reduce API surface and focus

Currently, there are too many functions to learn. Some of them are not relevant to end user, so they should be removed from API. Some other are too obscure features (`pcset-dft`, for example) than should be moved to a less noisy place.

Focus: some functional functions are provided (like `map`). That's not the scope of tonal.

- [x] Split code

[2017-05-19 23:14] kasbah commented on #14
Hey again, now `scaleRange` and other seems to have been removed from `tonal-range` 0.69 (even though it's still [documented in the README](https://www.npmjs.com/package/tonal-range#scaleRange))? I just tried to upgrade from 0.50. All the documented functions seem to be gone now.

[code]

[2017-06-21 06:17] edellaq opened #27 "Proposal: modes"
Hi,
are modes implemented (o can they) in any way?
From a computing point it could simply be a circular shift of a scale notes array, possibly having a name (but not necessarily, for the library purpose, could be up to the programmer to associate e.g. "Aeolian" name - also in different languages - to the Scale.mode(6).

This could be applied to any scale (programmer has to be aware of what he's do

[2017-06-22 08:14] danigb commented on #27
Hi @edellaq

Sorry for the delay. Circular shift of pitch class sets are implemented in pcset package:

[code]
However, sometimes it has problems properly naming the notes. Take a look to https://github.com/danigb/tonal/blob/c7bf9572e5ce42511a6a64ff830fd23e2f96c92b/packages/core/pcset/test/pcset.test.js#L25

Also, you can get the name of the modes using the key module:

[code]

See https://github.

[2017-06-25 07:24] edellaq commented on #27
Hi @danigb, my concept is:
having a major scale note array, simply returning the array starting form the n-th note, by shifting it circularly, returns the new modals scale...
So that e.g. a c major scale [c,d,e,f,g,a,b], shifted by 3 steps gives a F lydian scale [f,g,a,b,c,d,e]
without altering any note.
A bit more complicated is when you want a parallel mode, having the same root note.
starting f

[2017-07-06 19:44] tatecarson opened #28 "tonal.min.js"
Hi, trying to use the minified js file and getting this error:
[code]
Any advice?

[2017-07-08 10:28] danigb commented on #28
Sorry, I didn't have time to test it before and... it's true! I'll try to fix it ASAP.
Thanks for reporting

[2017-07-08 10:52] #28 closed

[2017-07-08 10:53] danigb commented on #28
It should be fixed now. Sorry for the inconveniences. Don't hesitate to reopen if the problem continues.

[2017-07-21 06:24] grimmdude commented on #8
Hi @danigb,

I'm working on a browser based project which I would like to incorporate this package with.  I'm having a bit of a hard time getting this built correctly for the browser, could you please point me in the right direction?  Thanks,

-Garrett

[2017-07-21 06:41] grimmdude commented on #8
Nevermind, I see now the `build/index.js` in the npm package and was able to use browserify to get that going.  Thanks!

-Garrett

[2017-07-21 06:42] grimmdude commented on #8
Sorry...so many messages.  I would like to know though how you would build this package during development?  I may be contributing more to this package shortly.

-Garrett

[2017-07-21 17:11] danigb commented on #8
Hi @grimmdude

Yes... to many packages. I'm thinking in a way to reduce them and provide a simpler build process.

There's a pre-built package in dist folder (but it doesn't include fretboard). The process is done with rollup: see the "build" and "dist" scripts in `package.json` and the `rollup.config.dist.js` file.

Hope it helps.

[2017-07-22 06:56] mrjacobbloom opened #29 "chord.parse docs out of date, proposal"
The docs for chord.parse say it returns an Array but it returns an Object.

Speaking of chord.parse, it'd be cool if the returned object contained more granular information about the parsed chord. Right now I'm using tonal in conjunction with another package called [chord-magic](https://github.com/nolanlawson/chord-magic) which does basically the same thing, except its chord parser also gives the

[2017-07-29 05:13] grimmdude commented on #8
Thanks @danigb, I think I figured it out.  FYI I'm using this along with [VexChords](https://github.com/0xfe/vexchords) to create a guitar chord lookup page here: http://musictheorysite.com/guitar-chord-chart/

That page makes it easier to dial this package in a bit.  I submitted a PR, and will probably have more to come.  Working on limiting the shapes `chordShapes()` it returns to be more realis

[2017-07-30 17:22] danigb commented on #8
Hi @grimmdude

The chord lookup page looks terrific! Great job! I tried to create something like this but I never finished it (https://danigb.github.io/tonal-app/) ... Glad to see that some people do! 👍

Thanks for your PR, and sorry for the delay. I still think this module it's a little bit too complex (at least the interface to it) and there's room to improve, so any PR will be more than welcome

[2017-08-06 14:47] thipages opened #32 "Deprecation on chord.detect question"
Hi
When I log the example  `Tonal.chord.detect('g f# d b')`,
I got the following  warning ` pcset.chromaModes deprecated. Renamed to pcset.modes`

Sounds not so good... and a bit lost
How can I handle it?

Thank you

[2017-08-06 16:11] danigb commented on #32
Yes... I've just pushed a 0.69.9 release that removes the warning. Thanks for reporting 👍

[2017-08-06 16:11] #32 closed

[2017-08-06 16:22] thipages commented on #32
ok, fixed. Thank you.
By the way, it coud be interesting to have the version within the min.js

[2017-08-06 16:33] thipages opened #33 "Chooords detection"
I try to understand how to detect chords from a group of notes.
I am using the _simple method_ `Tonal.chords.detect(notes)
`
[code]

Output:
[code]
**Why dont we get the union of the two in each case?**

Note : if there is useful litterature/links on the subjects, I am willing to study it and try implemting something.

[2017-08-07 00:26] danigb commented on #33
Hi @thipages, I have no idea of why this differences, in theory, the answer should be the same. I'll take a look as soon as possible.

[2017-08-20 10:23] torqueville opened #35 "Scale app: Cb drops and B# raized an octave"
Occurrences of note Cb in a scale in the scale app, drops one octave. Similarly any B# is raised an octave. Or so it seems, I did not check all the scales and keys, but found this:

B# turns out to be raised in...
... E bebop major
... F# and A hungarian major
... E ionian augmented
...

Cb is dropped in...
... Db, Eb, and Ab aolean
... Eb, Ab, and Bb balinese
... Db and Ab dorian
... Db egyptian

[2017-08-29 06:51] Mdashdotdashn opened #36 "Scale detection"
I'm replacing some of my half-baked code by your awesome tonal but converting my tests I'm getting puzzled by the output of scale detect. Here's what I'm doing:

`tonal = require("tonal");

processChordList = function(chordArray)
{
  var notes = [];
  chordArray.forEach(function(chordName)
  {
    var chordNotes = tonal.chord.notes(chordName);
    notes = notes.concat(chordNotes);
  })

  result =

[2017-08-29 19:26] danigb commented on #36
Yes, this is related to #33. I hope I can solve it soon. Thanks for reporting.

[2017-08-29 19:44] danigb commented on #35
That's really weird. I'll dig into this soon.

[2017-08-30 19:17] Mdashdotdashn opened #37 "Chords from intervals"
I'm looking for a way to convert a set of intervals to the chords they make (the inverse of chord.intervals)

Instinctively I've tried `tonal.chord.detect('1P 3M 5P')` but it didn't work.

It looks like all the information is there but I'm not sure the api allows me to do this. Is there a clever way to do this I didn't see ?

Thanks !

[2017-08-31 05:58] mrjacobbloom commented on #37
you could maybe do something like
[code]
I haven't tested that but something along those lines might work

[2017-08-31 07:07] danigb commented on #37
Thanks for the reply @mrjacobbloom :+1:

Just a note: tonal can work with arrays or strings, there's no need of conversion. So your code can be simplified to:

[code]

[2017-08-31 07:45] mre-ableton commented on #37
Thanks !

[2017-09-05 17:59] danigb commented on #36
Hi @Mdashdotdashn,

Now I have time to look to your issue more carefully, I think you're misundestanding the `tonal.scale.detect` function. What it does: given a collection of notes, it tells you what scales have **exactly**  that notes. For example "C Eb G" is not a scale (is a chord) so results are []. Notes "C,Eb,G,A#,C##,E#,F,Ab,C" are exactly A minor and all its modes.

I think the results of

[2017-09-05 19:35] danigb commented on #33
Hi @thipages, I've found the error. In the second list of notes it should be f#5 instead of f5#. `tonal`silently ignores all that are notes (maybe thats not a good idea).

The following code works:
[code]
Please feel free to reopen if is not solved to you.

[2017-09-05 19:35] #33 closed

[2017-09-05 19:38] thipages commented on #33
Oops! Sorry.
ok Thanks

[2017-09-20 17:49] lukehorvat opened #38 "Deprecation warning when using note.alt() (v0.69.9)"
Hi. When doing `note.alt('C#2')`, I see the following warning:

Am I doing something wrong?

[2017-09-20 20:08] danigb commented on #38
Nothing wrong. It's something related to the new 1.0 API, but I must admit warning at the console was not a good idea (becuase `note.alt` is *not* deprecated, but it uses a deprecated function).

I hope I can solve it soon.

Cheers

[2017-09-26 14:52] T-vK opened #39 "Why is the documentation gone?"
There used to be a documentation site: https://danigb.github.io/tonal/api/index.html

Why is it gone?

[2017-09-26 15:08] danigb commented on #39
Sorry, I'm finishing the 1.0 release, and the documentation will be at https://danigb.github.io/tonal (currently a proof of concept). Sorry for the inconveniences. I hope I can release the new version with the API documentation at the end of this week.

[2017-09-26 15:08] danigb commented on #39
By the way, meanwhile you can read the markdown version: https://github.com/danigb/tonal/blob/master/docs/API.md

[2017-09-26 21:51] danigb commented on #39
The documentation is back (updated to the 1.0 API) : http://danigb.github.io/tonal/api/

[2017-09-27 09:43] danigb commented on #26
Currently 1.0.0-0 version is released. The API should be considered stable, but there are a lot of breaking changes from the previous version, more notably:

### List of notes and intervals can NOT be expressed as strings anymore: you should use arrays of strings.

So instead of `tonal.pcset.chroma('A B C')` now you should write `tonal.pcset.chroma(['A', 'B', 'C'])`

The API is now more consistent

[2017-09-29 07:22] devboell opened #40 "import error when trying new release"
Hi Dani, how are you?

I thought I'd try the new version, but I get an error when I import tonal.
F.i. if I try to use the `tonal-note` package,

[code]
 I get:

[code]

It seems that `tonal/index.js` is exporting the `tonal-note/index.js`, and not the transpiled `tonal-note/build/index.js`. Could that be the reason?

[2017-09-29 07:26] danigb commented on #40
Yes, you're right. The transpiled version didn't transpiled the children packages. I'll fix it right now.

[2017-09-29 07:34] danigb commented on #40
@devboell I've just published `tonal-1.0.0-1` that should solve this issue.

But, as far as I know about es6 modules, if you are not transpiling your sources, you must use require: `const tonal = require('tonal')` so it uses the `build/transpiled.js` version.

Hope it helps.

[2017-09-29 07:45] devboell commented on #40
Great, it works now.

[2017-09-29 07:45] #40 closed

[2017-09-29 08:01] devboell opened #41 "How to use npm/yarn link with a local copy of tonal"
When I use `yarn link` in the root of the tonal package, it links `tonal-core`. I can import `tonal-core` in my own project, and it works, but is this the expected behaviour?

If I cd to `packages/tonal` and link there, it links tonal, but when I `import * as tonal from 'tonal'` in my project I get:

[code]

This also happens when I use `const tonal = require('tonal')`

[2017-09-29 08:09] danigb commented on #41
Yes. The tonal facade package is under `packages/tonal` so, to link with yarn you should:

[code]

Anyway, if you are in a ES6 enviroment (because you are using rollup or webpack) you can use the tonal package distribution directly:

[code]

and:

[code]

[2017-09-29 08:23] devboell commented on #41
sure, for normal development I use `yarn add tonal`. The `yarn link` is handy if I would experiment with the tonal code itself. So right now I get an error if I link the tonal 'facade'.

[2017-09-29 08:25] danigb commented on #41
What error?... I used `yarn link` with tonal "facade" with no errors...

[2017-09-29 08:30] devboell commented on #41
Well, sorry if I haven't been clear.
The error doesn't appear when I use `yarn link` in packages/tonal.
It happens when I make a separate project and want to use the tonal link there. Like:

[code]

then in `my-project/index.js`, using `import * as tonal from 'tonal'` results in the error I reported above.

[2017-09-29 08:35] danigb commented on #41
Well,  ES6 modules it's a headache for me too. The thing is: browser nor node doesn't understand "import" statements, so if you are using it you MUST transpile the code before running it. Two common scenarios:

- create-react-app: it uses webpack under the hood to transpile the sources from ES6 modules to CommonJS modules before sending the code to the browser. You can use "import" with no modific

[2017-09-29 08:52] devboell commented on #41
I'm not sure you're getting my point, I am always transpiling my own sources. However (with Webpack at least), babel will not transpile the sources that I import from node_modules, they already have to be transpiled.
  So with the normal scenario of `yarn add tonal`, I can now import the transpiled tonal sources in my local project (because of the fix in the previous issue).
 But with the link sce

[2017-09-29 09:05] danigb commented on #41
Yes, I didn't get your point. Now it's more clear. I've made some changes in the source code that may solve your issue (and published a new 1.0.0-pre2 version with the changes). Let me know if it works now.

[2017-09-29 09:29] danigb commented on #41
In fact, I'm having a similar issue trying to integrate tonal with react... It takes the index.js file instead of the transpiled.js file. It uses "main" and "module" tags from package.json... I don't know why this is happening, so ideas are welcomed...

[2017-09-29 09:46] devboell commented on #41
I'll try to help out, but it should be independent of react. Are you having trouble with the `yarn add` scenario, or the 'yarn link` scenario? And where is you react app?

[2017-09-29 09:53] danigb commented on #41
Yes, it should be independent of react. I tried both scenarios (yarn add and yarn link) and the problem is that webpack is using the not transpiled version and it fails when minimizing the code. I don't know why it uses "index.js" instead of "build/transpiled.js"

[2017-09-29 10:55] devboell commented on #41
ok, I made four test apps on my machine:
- add scenario, node/jest app
- link scenario, node/jest app
- add scenario, webpack/react app
- link scenario, webpack/react app

All four work!

So, if you like I can push the four apps to my github, so you can have a look and compare with your app.
And/Or, I can take a look at your react app and see if I find something wrong with the webpack config. Or c

[2017-09-29 11:20] danigb commented on #41
@devboell thanks a lot! Finally I've managed to solve it by publishing an es6 transpiled version (so now, for each module, there is a es5.js file with transpiled code and CommonJS modules, and a es6.js file with transpiled code and es6 modules). It seems that webpack in `create-react-app` don't transpile "module" sources.

I'm writing a demo app to showcase the possibilities of tonal. You can see

[2017-09-29 11:20] #41 closed

[2017-09-29 11:53] devboell commented on #41
ok, glad it's all working

[2017-09-30 06:35] devboell opened #42 "status of enharmonics?"
I am a bit lost about where to find the old `tonal.note.enharmonics`. I see you made enharmonics package in extensions, but this is not in the final release? Do you plan to add it?

thanks

[2017-09-30 08:33] devboell opened #43 "enharmonics use case"
I have a particular use case for enharmonics. I find enharmonics tricky because you can have more than one accidental. For my case I am only interested in getting the enharmonic for one accidental, and if the note has no accidental it should return the note itself. (I hope this makes sense).
for example:
C => C
C3 => C3
C# => Db
C#3 => Db3
Db3 => C#3

I made a method that could fit in tonal.note.

[2017-09-30 09:41] danigb commented on #42
I'm not sure. Currently is lives in https://github.com/danigb/tonal-extensions and I'm planning to release separately when 1.0.0 is done. But I'm open to suggestions.

[2017-09-30 10:00] danigb commented on #43
Hi,

I think this is an interesting concept,  but I have some question: why do you want the opposite alteration?. Thinking in loud, I find more convenient to select if you want flats or sharps and always get that kind of accidental. What is your use case? Also, does it work with more than one alteration? If so, some test would nice. If not, some restrictions should be in the code.

Anyway, I think

[2017-09-30 11:27] devboell commented on #43
It is for display purposes. I want to show the notes of a fretboard like:
C   C#/Db   D   D#/Eb   E   F   F#/Gb ... etc.
So it's independent of tonic or key.

I have the code like this:

[code]

I now want to adapt to tonal 1.0, so the `equiv` function could be a part of it. Actually I may only need it for pc's, so another approach could be to make a fromChroma method (with a flat/sharp flag like

[2017-09-30 11:50] devboell commented on #43
The old version of fretboard is here, in case you want to see:  https://fretboard-trainer.herokuapp.com/
 I wrote that last year and couldn't finish it. It was my first javascript/react app, and i am very unhappy with code quality. I am currently rewriting it.

[2017-09-30 19:09] danigb commented on #43
What if there's a function `tonal.note.names ()` that returns that array of
notes directly?

And maybe we can integrate fretboard-trainer into tonal-app. What do you
think?

El sáb., 30 de septiembre de 2017 13:50, Rob Boellaard <
notifications@github.com> escribió:

[2017-10-01 06:48] devboell commented on #43
yes, tonal.note.names() would be very good.

I think tonal-app and fretboard-trainer have different purposes, so maybe not integration, but there could be some form of relationship. The future of fretboard-trainer is uncertain anyway. I have some time to work on it now, but I am also currently looking for a job and once I find one, I'll probably be too busy. I'll have to see how far I get with thi

[2017-10-01 10:13] danigb commented on #43
I've published a new version of tonal (1.0.0-pre4) with note.names() and
note.namesEnh()

And yes, I was thinking not in integration, but displaying scales and chord
fretboards inside tonal-app.

On Sun, Oct 1, 2017 at 8:48 AM, Rob Boellaard <notifications@github.com>
wrote:

[2017-10-02 06:18] devboell commented on #43
I am just wondering, are you sure you want it this way? I mean, you are now hardcoding the '/' in the grouped names, and it seems it is only for my requirement. Others might not want the '/'. And I would have to split too, because I want to format for html. And also, to get all the names in an array is not really suitable for how my app is now. I am just trying to think from the tonal perspective,

[2017-10-02 06:45] danigb commented on #43
Hi Rob,

yes, I was exploring some ideas. I've published a pre5 with some changes:

- I've removed the `namesEnh` function. Only `names`. https://github.com/danigb/tonal/tree/master/packages/note#module_note.names
- Similarly, I've added an `interval.names`
- I've added `simplify` and `enharmonic` to note-package

And yes, you're right, I was thinking in something like a reusable React Component t

[2017-10-02 20:03] jisike opened #44 "creating note from abc notation"
Are there any functions for creating a note from abc notation?

[2017-10-02 21:47] danigb commented on #44
Currently there's no support for abc notation. If you mean convert a note from, for example "c" to "C5", it should be easy to implement using `note.build` function.

What do you need this for?

[2017-10-02 22:03] jisike commented on #44
I'm trying to computationally parse an abc string it into an object, manipulate it (ie change tones, pitch and etc) using tonal and convert it back into a string.

[2017-10-03 09:38] devboell commented on #43
Ok, that sounds good. Right now I am focussed on the first phase of the fretboard app rewrite. Hopefully by next week I have something ready and I'll push to github. We can then discuss on how to break-out the fretboard component, and make it fully reusable. I will let you know!

[2017-10-03 23:56] danigb commented on #44
I've wrote the `tonal-abc-notation`: http://danigb.github.io/tonal/api/module-abc-notation.html

You can install it using npm. Hope it helps.

[2017-10-04 15:23] #26 closed

[2017-10-04 15:24] #44 closed

[2017-10-04 15:24] danigb commented on #38
Fixed.

[2017-10-04 15:24] #38 closed

[2017-10-04 15:24] #14 closed

[2017-10-04 15:25] #39 closed

[2017-10-04 15:28] danigb commented on #35
Hi @torqueville

Probably too late to this party, but I think this is the intended behaviour. See: https://danigb.github.io/tonal-app/#/scale/bebop_major/E or https://danigb.github.io/tonal-app/#/scale/hungarian_major/A

[2017-10-04 15:28] #35 closed

[2017-10-04 15:28] #43 closed

[2017-10-04 15:31] danigb commented on #27
I think this is implemented in `tonal-key`. Please feel free to reopen if not.

[2017-10-04 15:31] #27 closed

[2017-10-04 15:33] danigb commented on #37
Solution for tonal 1.0.0:

[code]

[2017-10-04 15:33] #37 closed

[2017-10-07 19:14] jisike commented on #44
Thanks for the reply! How can I use that module in the browser?

[2017-10-08 18:57] danigb commented on #44
You can use a tool that can convert from node modules to browser modules. I think the easiest one is browserify: http://browserify.org/

The other option is to use a tool like budo: https://github.com/mattdesl/budo. It's easier to get started, but after you will need to use browserify or something similar.

Hope it helps.

[2017-10-08 19:43] jisike commented on #44
Thanks! I have Tonal running in the browser but now I'm not able to call functions from it in the console. Any tips?

[2017-10-08 20:42] danigb commented on #44
If you are using the including the file from the `dist/` folder, like this: `<script src="tonal.min.js"></script>`, you can write at the console: `Tonal.midi('c4')` and it should work.

But abc-notation module is not included in the bundled file. So, to use it, you need to create a file like index.js with something like:

[code]

and then use browserify to create a browser compatible version (and

[2017-10-08 21:05] jisike commented on #44
Thanks. As I mentioned I have it bundled using browserfiy and etc. I just asking if its possible to call functions in the console. If so how? Thanks again!

[2017-10-08 21:50] danigb commented on #44
Yes, I don't know if I get you 😆

You can open a console using the browser's developer tools, and write `Tonal.Scale.notes("C major")` and you will see the output (an array of notes). This just works.

[2017-10-09 00:09] jisike commented on #44
It doesnt work for me. When I tried to call:

`Tonal.Scale.notes("C major")`

and I get this error:

[code]

[2017-10-09 11:50] danigb commented on #44
If you use the tonal.min.js dist file, it works out of the box. If you are transpiling your own sources, you must export the tonal facade inside your code: `window.Tonal = Tonal;` (and `window.Abc = Abc;` if you want to use it from the console)

Hope it helps!

[2017-10-09 12:26] jisike commented on #44
Thanks that works! Also thanks for answering general JS questions! Can I ask one more: How would you recommend structuring the other vars and functions (that aren't in a class) to access in the same way? I tried using a closure but that didn't work.

[2017-10-09 23:01] shockey opened #45 "404s in docs"
Looks like there's a lot of missing pages in the GitHub.io docs 😕

Is this a mistake, or is the documentation incomplete?

[2017-10-10 12:52] danigb commented on #45
Yes, I see. I've regerated them and it works... almost. I don't know I still get a 404 on tonal-Chords (but the file exists: https://github.com/danigb/tonal/blob/master/docs/api/module-Chord.html)

I'll close the issue when fixed.

[2017-10-10 16:48] derBingle commented on #22
_(**WARNING:** I'm just getting started with `tonal`, and with studying music theory in general, so there's probably a better way of doing this.)_

I'm working on a tool to convert chord charts to/from the Nashville number system, so I needed this as well. Here's my solution from 2:30 am this morning: 😆

[code]

[2017-10-10 20:53] danigb commented on #22
Hi @derBingle,

As far as I know, a D/F# chord means a D major chord with F# in the bass, so I think Tonal should behave something like this:

`Tonal.Chord.notes("D/F#") // => ["F#", "A", "C"]`

If the note after the slash doesn't belong to the chord, just add it:

`Tonal.Chord.Notes("D/B") // => ["B", "D", "F#", "A"]`

Am I missing something?

I don't know understand what are you convert the slas

[2017-10-11 18:37] derBingle commented on #22
@danigb That's why I started with the warning at the beginning of my comment — it was written from my phone in a sleep-deprived state. 😉 Maybe I can do better this time.

The [Nashville number system](https://en.wikipedia.org/wiki/Nashville_number_system) (NNS) is a way of writing chord charts by scale degree — very similar to the roman numeral style, but using Arabic numerals, optionally using a

[2017-10-16 13:51] devboell commented on #43
Hi Dani,

Just to let you know that I haven't forgotten about the fretboard component. I've had some delays, but I am still working on it. Hopefully (again :-) ) I will have something this week.

[2017-10-18 03:04] micahscopes commented on #36
What happened to the `scale.detect` function?  Am I missing something?  I can't find it!

I'm trying to take a collection of chromas and transform them into a scale name.  Right now I'm using the `Scale.toMidi` function like so:

[code]

[2017-10-19 14:08] danigb commented on #36
Hi @micahscopes

Sorry, I've removed `scale.detect` from the core to release the 1.0.0. I will release it as a module soon. I'll keep you informed.

[2017-10-19 14:11] micahscopes commented on #36
Okay, cool. I figured, since it was nowhere to be found.  Thanks for this
nice library!

On Thu, Oct 19, 2017 at 9:08 AM, danigb <notifications@github.com> wrote:

[2017-10-19 14:37] danigb commented on #36
By the way, If you have the **exact** chroma, you can use `Dictionary.scale.names` to the the names:

[code]

[2017-10-19 14:41] micahscopes commented on #36
Ooh!!!! I do have the exact chroma :)

[2017-10-19 17:24] holden-caulfield opened #46 "Proposal: add a 'set' function on tonal-note"
First of all @danigb thanks for this awesome library.

I'd like to propose a small addition that I would find useful. Adding a `set` function to the tonal-note module

The docs for such a function would be somewhat like this:

`(static, constant) set`

Given a note (string) and an object with props, return the note that results from overriding the given note with those props

Example:
`Note.set("C

[2017-10-19 18:16] danigb commented on #46
Hi @holden-caulfield

It sounds like a very good idea and useful idea, but I'm reluctant to add new functions to the API if it's not strictly necessary. What If you change the `build` function signature to accept an optional parameter? What do you think? Any other idea?

Anyway, a PR of this will be highly appreciated! ;-)

Cheers

[2017-10-19 18:50] #45 closed

[2017-10-19 19:02] danigb commented on #36
No, it gives all the possible names (name and aliases). Most of the time, an array with one element is returned. `major` and `ionian` are considered aliases in tonal.

[2017-10-19 20:12] micahscopes commented on #36
How hard would it be to make it return the modes in order?  Would you be
opposed to a pull request if I made that change?  It'd be useful to me!

On Thu, Oct 19, 2017 at 2:02 PM, danigb <notifications@github.com> wrote:

[2017-10-19 21:04] danigb commented on #36
I don't understand what you mean with "return the modes in order". Return ¿which function?

[2017-10-19 21:46] micahscopes commented on #36
ahh, I think was getting confused at how the scale dictionary works compared with the old scale `detect` function.  the old scale `detect` function gave back a seemingly unordered list of possible modes/scales that fit the notes you give it, whereas the new one will give you the exact modes that fit a chroma.

If you wanted to find other modes with those notes, you'd have to rotate the chroma 11 t

[2017-10-20 19:50] holden-caulfield commented on #46
I've taken your suggestion of making it a part of `build`.
Here's the PR, please check it out: https://github.com/danigb/tonal/pull/47/files

Thanks!

[2017-10-24 21:39] danigb commented on #46
I'm closing this issue now the PR is merged. Feel free to reopen the discussion again :-)

[2017-10-24 21:39] #46 closed

[2017-10-31 20:58] holden-caulfield opened #48 "Proposal: adding a flag for triad chords on Key.chords"
Hey @danigb what do you think about adding a second, boolean, parameter to `Key.chords` to return the triad chords instead of the seventh chords.

I believe that, as an exception, for the case of a major scale, the 5th grade should still be returned as a seventh chord to keep its dominant quality

So something like:
[code]

What do you think? As always, if you like the feature, I can do a PR to in

[2017-11-01 09:40] danigb commented on #48
Hi @holden-caulfield,

I see what are you trying to accomplish. My main concern is if we should make it more generic, for example, pass the number of notes (3 for triads, 4 for 7th chords, 5 with 9th chords...). Also I'm reluctant to add more parameters to functions (unless strictly necessary) because it makes them more difficult to use with standard array functions or to compose. For example, whe

[2017-11-01 18:23] holden-caulfield commented on #48
Hey @danigb thanks a lot for the input.

Let me elaborate on the use case: I'm working on a small tool to aid my music studies (https://holden-caulfield.github.io/empa-trainer/).

The tool will have exercises on ear training and music theory, similar to other tools out there but more tailored to resemble the kind of exams we take at my school (the EMPA, hence the "EMPA Trainer" name)

I've started

[2017-11-01 18:33] holden-caulfield commented on #48
So here are three options that I believe would work:

*Option 1*: adding a method on `Chord` that could get a seventh chord and return the corresponding triad. Something like `Chord.toTriad` so I could do something like

[code]

*Option 2: * same thing but more generic, `Chord.toNotes` that takes a number and a key and returns a function that takes a chord  and gives the corresponding chord triad/

[2017-11-01 18:49] danigb commented on #48
Hi @holden-caulfield thanks a lot for elaborating this!

And I'm not sure about the option. Also, I have the feeling that the natural option for `Key.chords` would be to return the simple triads (with the dominant seventh chord). But that's a breaking change too...

Let give a little more time to think more about this... meanwhile, maybe you can use a simple function to substitute `"Maj7"` to `""`

[2017-11-01 18:56] grimmdude commented on #48
Just my two cents; I feel like returning a single dominant seventh chord in a list of diatonic triads from is not very intuitive and could cause issues for people.

-Garrett

[2017-11-01 19:01] danigb commented on #48
Thanks for your feedback @grimmdude 👍

[2017-11-01 21:46] holden-caulfield commented on #48
@grimmdude I agree. Whatever the solution we turn out creating, I was already expecting to handle the "5th dominant" case as an exception on userland (i.e. my own code), with something like

[code]

@danigb sure, lets take it easy, no rush for me to get this changes in. In general what I'm doing is I'm isolating this kind of things on a "lib" module built on top of `tonaljs` on my project and when

[2017-12-03 06:36] wildcat510 opened #49 "Transposing through multiple octaves?"
Hey there, thanks for the great library!

I'm wondering if there is a way to transpose a note through multiple registers (ex: C3 -> C5, etc) using Tonal.transpose().

I'm making an app that dynamically generates tables of numbers and assigns notes to the numbers using modular arithmetic. Note names are right, just need to find a way to scale them to their proper register :)

[2017-12-03 13:29] danigb commented on #49
Hi @wildcat510

Glad you like it. If I understand you, what you need is `Note.from`:

[code]

Hope it helps!

[2017-12-04 04:30] wildcat510 commented on #49
Perfect! Just launched Vedic.js v0.1.0 using Note.from() to scale the range.
https://github.com/wildcat510/Vedic.js

[2017-12-07 08:25] danigb commented on #49
Great! I don't understand what a Vedic square is, but I'll take a look.

[2017-12-07 08:25] #49 closed

[2017-12-08 23:01] wildcat510 opened #50 "Tonal.transpose() returns scale with notes in wrong register"
Working beautifully on my app in the key of C. Registral errors occurring when tranposing to other keys. Console logged some of these out:

Interval structure returned is correct.
`myscale = Tonal.scale('major');`
=>["1P", "2M", "3M", "4P", "5P", "6M", "7M"]

Great in the key of C.
`myscale.map(Tonal.transpose('C2'));`
=>["C2", "D2", "E2", "F2", "G2", "A2", "B2"]

We start to see registral problem

[2017-12-09 11:09] danigb commented on #50
Hi @wildcat510

Thanks for reporting! 👍

But, as far as I know, this is the expected output. For example, "D2" transposed by a "7M" is "C#3"... The same can be applied to "E2" transposed by a "6M" or a "7M". In fact, "E2 major" is exactly the scale you obtained.

Am I missing something?

Regards,
Dani

[2017-12-09 15:16] wildcat510 commented on #50
A major 7th above D2 is C#2 in the same register— just like in the example in C, a major 7th above C2 is B2 in the same octave. If I'm transposing a C scale (or any scale) in octave register 2 to another key, the whole scale should stay in the same octave register unless I'm using the wrong method for transposing keys. All scales should be played linearly, steps 1 through 7, not steps 1-6 and then

[2017-12-09 16:45] mrjacobbloom commented on #50
The cutoff for register number is always C no matter what key you're in. C# above D2 is higher than the C that follows D2 so it's in the 3rd register. C#2 is the note below D2

[2017-12-09 17:08] wildcat510 commented on #50
So is there any way I can have scales in keys other than C laid out in a register theoretically consistent with the same way a musician would notate and play it?

[2017-12-09 17:13] danigb commented on #50
Hi!

Yes, I think @mrjacobbloom is right here. In western music theory we use always C as the cutoff registry.

Another way to think about it is using interval sizes. For example, 7M is 11 semitones up. That's exactly the distance from D2 to C#3 (and the distance from D2 to C#2 is 1 semitone down).

I don't understand very well your explanation, @wildcat510 but It would help to have some external

[2017-12-09 17:30] wildcat510 commented on #50
Looks like I misunderstood the transpose function's application. Concatenating pitch classes works.
Thanks guys!
-Nate

[2017-12-09 17:38] danigb commented on #50
Great! I'm going to close this issue, but feel free to reopen if something is not clear.

[2017-12-09 17:38] #50 closed

[2017-12-13 14:48] JamesJefferyUK opened #51 "Converting Scale.notes results to midi values"
I can't seem to figure out how to convert the results from `Scale.notes('Bb lydian')` to MIDI values.

The results from `Scale.notes('Bb lydian')` are in the form `["Bb", "C", "D" ...]`. There's no pitch data . This is causing an issue because I need the MIDI values of this scale. `midi(...)` doesn't seem to work unless there's a pitch associated with the note.

I have also tried `toNote` from `to

[2017-12-13 14:51] danigb commented on #51
Yes, the problem is that you are using pitch classes (notes without octaves).

You should write (notice the 4 after the note name):

[code]

Hope it helps. Feel free to reopen if needed.

[2017-12-13 14:51] #51 closed

[2018-01-03 13:16] moxious commented on #48
Jumping in on this thread a little late, fully support what @holden-caulfield is requesting.  I came here to file an issue and see that it's already there.

Personally of the options listed above, I think `Key.chords('C major').map(Chord.toTriad) // [ 'C', 'Dm', 'Em', 'F', 'G', 'Am', 'Bmb5' ]` is probably the best.  However I think what would make the most sense (just my $0.02) is to add a second

[2018-01-04 03:31] mahavira opened #52 "aug\Dom\dim chords can't get notes"
hi @danigb
The problem was discovered a week later.
aug\Dom\dim chords can't get notes
[code]

I've found that this function does a little bit more processing
[code]

`tokenize`This function is executed twice
[code]

[2018-01-04 08:20] danigb commented on #52
Hi @mahavira, thanks for reporting. I'll take a look at this issue soon.

[2018-01-04 08:21] danigb commented on #48
Yes, you convinced me. I'll take your ideas of how to make `chords` function more flexible and make a proposal here.

[2018-01-04 22:26] #52 closed

[2018-01-04 22:28] danigb commented on #52
I think it's solved and I've published a new version. Thanks to your research, solve the issue was trivial. Thanks! 👍

[2018-01-05 20:13] kubawolanin opened #53 "[question] Convert PcSet to Scale"
Hello @danigb,
Thank you for this amazing library!
Very impressive piece of work.

Is there a way to convert a list of notes to a scale?
e.g. I have the following array:
[code]

and what I'd like to achieve is
[code]

Thank you again!

[2018-01-06 13:37] danigb commented on #53
Hi!,

The solution is harder than I thought:

[code]

One problem is that `PcSet.intervals` doesn't accept the note array directly (but the documentation says it can). I'll keep the issue open while deciding what to do.

I hope it helps.
Suggestions and PR welcomed.

[2018-01-06 14:03] kubawolanin commented on #53
Hey @danigb!

Thank you for the quick response.

Pasting the following code
[code]

to [RunKit](https://npm.runkit.com/tonal) gives me this result:
[code]

[2018-01-06 16:01] danigb commented on #53
True! It works with `["a", "c", "e", "g"]` but not with `['a', 'b', 'e', 'g']`. I'll investigate the issue...

[2018-01-06 16:04] danigb commented on #53
This works and it's a better alternative:

[code]

[2018-01-08 09:45] JakeIwen opened #54 "[question] Why is 'Major' represented as 'Maj' in some cases and 'M' in others?"
I am trying to use `Chord.supersets()` to generate a list of subnames  that produce computable chord names when joined into a string.

I would expect, for example,  `'AMaj7'` to give `'AMaj7add13'` as a subset. Removing the original chord from this string leaves me with `'add13'` which would be used to populate a select-button.

But `'AMaj7add13'` is actually `'AM7add13'` in the tonal library.

Wo

[2018-01-08 10:02] danigb commented on #54
Great! A PR will be highly appreciated

El lun., 8 de enero de 2018 10:45, Jake Iwen <notifications@github.com>
escribió:

[2018-01-09 02:43] mahavira opened #55 "the results are different by 'Chord.tokenize'"
hello again
[code]
The following functions are also associated.
`Chord.intervals`
[code]

[2018-01-14 15:41] #55 closed

[2018-01-14 15:44] danigb commented on #55
Hi @mahavira

Thanks again for reporting. I've published a v1.1.3 that fixes this issue. Please feel free to reopen if you find more edge cases.

[2018-01-18 21:50] apalm opened #58 "Issues with Note.midi"
As requested by @danigb in https://github.com/danigb/tonal/pull/57#issuecomment-358780617

https://github.com/danigb/tonal/pull/57 addresses two main issues with `Note.midi`.

First, it fixes a few bugs with the current `Note.midi` implementation:

* `Note.midi(0)` returns `null`. It should return `0`.
* `Note.midi("c-1")` returns `null`. It should return `0`.
* `Note.midi(true)` returns `1`. It s

[2018-01-23 20:55] holden-caulfield commented on #48
Hey, jumping a little late on this. Once you post the proposal I'll be happy to send feedback if you want me to.

[2018-02-07 05:56] davidlav opened #59 "How do you transpose down?"
I want to transpose notes an octave down and tried `tonal.transpose(note, '-P8');` but that didn't work and I couldn't find anything in the docs pertaining to _direction_ of the interval you wish to transpose by.

[2018-02-07 11:04] danigb commented on #59
It works for me:

[code]

[2018-02-07 14:02] davidlav commented on #59
Perfect, thanks.  I never would have thought to put the minus sign _between_ the letter and the number.  Could you add that to the documentation?  Thanks!

[2018-02-07 14:02] #59 closed

[2018-02-07 14:05] danigb commented on #59
It's documented, but a little bit hidden: https://github.com/danigb/tonal/tree/master/packages/interval#interval

Two different notations are supported.

Suggestions or PR welcomed ;-)

[2018-02-07 14:55] davidlav commented on #59
Ah, I see it now.  Thanks for such a great library, fantastic work!!

[2018-03-10 15:50] Mdashdotdashn opened #60 "Tonal.Key in npm ?"
Sorry for the possibly n00b question but after a `npm install tonal` I don't seem to be able to use the 'extensions'. I'm after Tonal.Key and Tonal.Detect...

Do I need to to anything special in order to use them ?
Thanks !

[2018-03-11 00:02] Maarius opened #61 "Use of 7th chords in Key.chords()"
The output of `Key.chords("C major")` is `CMaj7, Dm7, Em7, FMaj7, G7, Am7, Bm7b5`.

Why are the 7th chords used? Shouldn't it be `C, Dm, Em, F, G, Am, Bdim` like for instance here https://www.theguitarlesson.com/guitar-theory/guitar-chords/key-c-major/?

[2018-03-11 19:41] Mdashdotdashn commented on #60
I found I needed to install tonal-key and tonal-detector. There's an error in the documentation though because it says to use `const Detect = require("tonal-detect")` while it is `const Detect = require("tonal-detector")`.

[2018-03-11 19:44] Mdashdotdashn opened #62 "Doc error for Distance.transposeBy"
The manual gives the following example:
[code]

Which won't work with two intervals. One should use add instead.

[2018-03-11 19:50] Mdashdotdashn opened #63 "Confusing results from Detect.chord"
Calling chord detection returns the '64' form for major chords which I found confusing as I had no idea what it meant.

[code]

[2018-03-13 18:42] Maarius commented on #48
Just noticed that the issue I created (https://github.com/danigb/tonal/issues/61) is a duplicate of this one. @danigb any update on the proposal? Would love to help out if possible!

[2018-07-20 19:22] nathanielkornet commented on #60
+1 on the docs being wrong. I was very confused about how to get the Detect functionality until i found this comment.

[2018-08-21 18:19] RichardJECooke commented on #63
How do you install Detect please?

I've tried `npm install tonal` then
[code]

but Detect isn't part of tonal.

Then I tried `npm install tonal-detect`, as documented here: https://danigb.github.io/tonal/api/module-Detect.html, but tonal-detect isn't in npm.

Help :(

[2018-08-22 17:46] danigb commented on #63
Yes, I don't know why it's called [tonal-detector](https://www.npmjs.com/package/tonal-detector). I have to change the name or update the docs.

Anyway, as this issue suggest, chord and scale detection are not working very smoothly.

[2018-09-04 23:49] scraggo commented on #58
+1 this issue. Let me know if there's a way I can help. @apalm

[2018-09-11 14:56] danigb commented on #58
Yes, sorry the (huge) delay. Merged. Thanks a lot @apalm  🙏

[2018-09-11 14:56] #58 closed

[2018-09-11 15:59] danigb commented on #58
Hi!

Finally, I've made some changes to your PR. First of all, `props('C4')` behaves as before (midi note numbers can be outside range 0 to 127). And `note.midi('C4')` always returns a value inside that range. Since it's a breaking change, I've pump tonal version to 2.0.0

[2018-09-14 15:30] evanrmurphy opened #67 "Plans to support solfege?"
Hi, are there any plans to support solfege/solfa notation?

I recently started using Tonal in a project at SightReadingMastery, and it would be very useful there. I can imagine it would be in many other applications as well. I noticed [Teoria supports this feature](https://github.com/saebekassebil/teoria#notesolfegescale-showoctaves) as well.

Tonal is a fantastic library! Kudos to everyone who ha

[2018-09-16 21:08] danigb commented on #67
Hi Evan,

Thanks, I'm glad you find it useful. I like a lot the idea of your site 👍 good luck with the business!

I don't know *exactly* what solfege/solfa notation is. Can you provide links to some documentation?

Currently, I don't have time to spend into tonal, so PR is more than welcome. Probably it won't take too much effort to add another notation (you can take a look to https://github.com/d

[2018-10-10 22:50] rickdps commented on #61
Yes. That's exactly what I need. It would be nice to have a way to choose the number of notes a chord has.

Any progress on this features?

Thank you all. It is a great library indeed.

[2018-10-10 23:02] rickdps commented on #48
Hi, guys. Any updates on the issue?

[2018-10-14 19:18] danigb commented on #61
Hi @Maarius and @rickdps

I'm unsure of the change, because you can easily get the triads from the 7th chords (and not the opposite).

What about:

[code]

Maybe it's better to add the helper method to the library instead of change the `chords` method... thoughts?

Sorry for the delay and thanks for helping!

[2018-10-15 11:29] Maarius commented on #48
Hi @danigb
Thanks a lot for the follow up. I just tested your suggestion:

[code]
While this is closer to the expected result, I would intuitively still think that the result should be `C, Dm, Em, F, G, Am, Bdim`.

Thanks for all your work.

[2018-10-15 13:42] danigb commented on #48
Yes, I've realized yesterday that my proposal has that problem. If we implement the `triadOf7th` method, it should handle that case.

Anyway, I'd prefer `Bb5` over `Bdim` because `Bdim` can be confused with a full diminished chord (1P, 3m, 5d, 7d). What do you think?

[2018-10-15 13:49] Maarius commented on #48
I don't think my understanding of music theory goes far enough to adequately judge whether `Bb5` or `Bdim` is preferably. If `Bb5` avoids confusion then let's go with that 👍

[2018-10-15 13:51] moxious commented on #48
As I understand, the naming of Bdim vs. Bb5 would be contextual.  You wouldn't get agreement on any one single name for these types of things because you name things according to their function.

[2018-10-15 13:58] danigb commented on #48
Great! Thanks both for the responses. Yes @moxious, probably is impossible to differenciate without context. But I'd go with the `b5` form if no one sees an impediment.

I'm almost decided to implement the `triadOf7th` function (instead of changing the `chords` function). I'm inclined to call it `Chord.triadName(chordName)`... thoughts?

[2018-10-15 14:40] Maarius commented on #48
Makes sense to me!

[2018-10-18 16:25] walmik opened #69 "Getting double flattened notes in scale.notes"
Hello @danigb

First up this is a brilliant library and it s one of the main dependencies of a module called [Scribbletune](url) that I ve put together in order to provide a bunch of music generation functionality.

I wanted to know if there is a way to avoid getting double flattened notes? For instance, `scale.notes('Db4 minor')` will return  `[ 'Db4', 'Eb4', 'Fb4', 'Gb4', 'Ab4', 'Bbb4', 'Cb5' ]`

[2018-10-18 16:29] danigb commented on #69
Yes, there's a reason: to preserve intervals. It used to be a`enharmonic` module that allow to "simplify" a note (get the same pitch with simpler name), but I think I've lost it in the last refactor 😱

You can convert to midi and back to note names, meanwhile...

[2018-10-18 16:42] walmik commented on #69
Thanks for such a quick response @danigb In the interim, I ll use something on lines of:
[code]

[2018-10-18 18:55] walmik opened #70 "tokenize doesnt recognize 5 and below"
Hi @danigb I was using this method `Tonal.Chord.tokenize('C4')` and realized that `tokenize` doesnt recognize 5 and below. Something like `Tonal.Chord.tokenize('C6')` or `Tonal.Chord.tokenize('E7')` works fine and returns `['C', '6']` and `['C', '7']` respectively. But `Tonal.Chord.tokenize('C4')` returns `['C4', '']`

Is this by design?

I m currently allowing users of my module to use a combinat

[2018-10-18 18:58] danigb commented on #70
It looks so from the source:

[code]

References #55

But I'm open to suggestions (and PRs!)

[2018-10-18 19:05] walmik commented on #70
Thank you for such a fast response!

Ideally 4 and 5 are valid chords (and are also available here https://danigb.github.io/tonal-app/#/C/chords) It would be nice to have support for at least for these in the `tokenize` method. I can create the PR if you are open to the suggestion.

[2018-10-19 16:14] danigb commented on #69
I found the function. I don't know why is not in the API documentation (I will keep this open until I found the cause).

The solution is:

[code]

[2018-10-19 19:33] walmik commented on #70
This may not be the best way but how bout have users reference such chords with a suffix like `C7th` and spell it out clearly in the documentation. Given the nature of the problem, it may not be entirely despicable.

[2018-10-19 19:35] walmik commented on #69
Thanks @danigb I ll switch to this in my code for now.

[2018-10-21 16:55] danigb commented on #69
The documentation is here: http://danigb.github.io/tonal/api/module-Note.html#.simplify

It doesn't appear on the left bar... 🤔 http://danigb.github.io/tonal/api/

Closing the issue for now...

[2018-10-21 16:55] #69 closed

[2018-10-23 02:00] danigb commented on #48
Hi all,

Almost 1 year after 😱 (sorry to everybody!) I've decided to implement `Key.triads` function. It's exactly just the same as `Key.chords` but it returns triads instead of 7 chords (with the exception of the dominant):

[code]

I've opted to use "Xmb5" to denote diminished triads.

It's a proposal (via PR). Not yet merged. Adding another function is IMO the simplest and easy solution, both t

[2018-10-23 18:44] danigb commented on #48
Ok, next round of commits with the same feature.

First, I've decided (after some research and guided mostly by http://openmusictheory.com/triads.html) to use this:

[code]

But I created a new function `Key.leadsheetSymbols` that accepts an array of symbols and create a function like `triads` or `chords`:

[code]

In this way, you can use the notation you like most.

My only doubt now is the name

[2018-10-23 18:47] danigb commented on #42
Currently, functions from `tonal-enharmonics` now lives inside `note` module (and `tonal-enharmonics` is deprecated):

- simplify: http://danigb.github.io/tonal/api/module-Note.html#.simplify
- enharmonic: http://danigb.github.io/tonal/api/module-Note.html#.enharmonic

[2018-10-23 18:47] #42 closed

[2018-10-23 21:59] rickdps commented on #48
Man, thank you very much for your efforts in making this requirement
happen. I think it would be clearer if the name was standardTriadNotation.

Em ter, 23 de out de 2018 às 15:45, danigb <notifications@github.com>
escreveu:

--
Att: Ricardo de Paula Soares
(94) 9114-3270
(94) 8149-1727

[2018-10-24 16:32] danigb commented on #48
Hi @rickdps,

You mean rename `triads` to `standardTriadNotation`? Or maybe rename `leadsheetSymbols` into `standardTriadNotation`?

If it'ss the second, then you probably didn't understand properly what `leadsheetSymbols` do. It receives a list of symbols and returns a function. Not related to triads (at least, directly)...

Maybe it's me that I didn't understand you :-D

[2018-10-25 19:35] rickdps commented on #48
Hey @danigb,

Sorry for that. I completely misunderstood the usage of leadersheetSymbols. Now I got it and to me it`s name sounds fine.

Once again, thanks for the excellent work.

[2018-11-03 19:42] #48 closed

[2018-11-03 23:31] rickdps opened #80 "Key.triads is not working"
**Describe the bug**
When I call Key.triads("A major"); I get:

TypeError: Key.triads is not a function

**To Reproduce**
Steps to reproduce the behavior:
1. const Key = require("tonal-key");
2. Key.triads("A major");

When the above code is run I get:
TypeError: Key.triads is not a function

If I call Key.chords("A major") it works fine.

Any help will be greatly appreciated.

[2018-11-04 04:08] rakannimer commented on #80
Hey @rickdps

I think this is happening because triads code has not been published to npm yet.

You can find the currenly published package code here : https://unpkg.com/tonal-key

Cheers !

[2018-11-04 10:56] rickdps commented on #80
Thank you for the quick reply. I have checked the package code you gave me but triads function is not in it.
Maybe you forgot something?

[2018-11-04 13:03] Maarius commented on #48
@danigb Thanks so much for your work, highly appreciated! Would you mind creating a new release for `tonal-key` so that the feature becomes available via `npm`? Thanks again!

[2018-11-04 14:49] danigb commented on #80
Sorry, forgot to published. Version 2.1.0 is out. Remember, `tonal-key` is an extension, so must be installed separately: `yarn add tonal-key` or `npm install tonal-key`. Then:

[code]

Hope it helps!

[2018-11-04 14:49] #80 closed

[2018-11-04 19:33] danigb commented on #48
Thanks @Maarius 🙏 ! Package released: https://www.npmjs.com/package/tonal-key 👍

[2018-11-04 19:53] Maarius commented on #48
@danigb great, thanks! Just tested in my app and it looks like it uses the implementation from https://github.com/danigb/tonal/issues/48#issuecomment-432058172. So for me I with package `2.1.0` I get
[code]
I thought you wanted to use the notation from https://github.com/danigb/tonal/issues/48#issuecomment-432371141?
[code]
I'd definitely prefer the latter 🙂

[2018-11-04 19:55] danigb commented on #48
Yes, I've finally decided to use that one... but I added another function to allow other alternatives. It work like this:

[code]

Hope you like it ;-)

[2018-11-04 21:03] danigb commented on #48
Yes, I've just tested and you're right. I probably published without building before. Fixed at v2.1.1: https://www.npmjs.com/package/tonal-key

[2018-11-04 22:19] Maarius commented on #48
Perfect, now after updating to `2.1.1` `Key.leadsheetSymbols()` works as expected and `Key.triads()` returns the values from https://github.com/danigb/tonal/issues/48#issuecomment-432371141, e.g.
[code]
Thank you so much for creating this great library and helping to debug my issues.

[2018-11-05 00:45] rickdps commented on #80
Thank you so much!

[2018-11-14 17:00] sandianstudio opened #82 "Chord.note issue using root of C6 or above"
I'm generating chord notes using Chord.notes("C4", "m11"). This works fine up to the sixth octave i.e. C6. From C6 and above, the returned array omits the octave:

Chords.notes("C5", "m11") returns ["C5","Eb5","G5","Bb5","D6","F6"]
Chords.notes("C6", "m11") returns ["C","Eb","G","Bb","D","F"]

Thanks in advance!
(By the way, Scale.notes above the sixth octave works fine.)

[2018-11-15 05:57] #82 closed

[2018-11-15 06:06] danigb commented on #82
Hi,

Should be fixed in v2.1.2.

Thanks for reporting! 👍

[2018-11-15 20:29] sandianstudio commented on #82
That did the trick! Thanks for the quick fix.

[2018-11-27 15:10] DvDream opened #85 "How do I use extensions in browser?"
Hi, How can I use the extension using the Browser? Because for "tonal.min.js" functions everything works fine with the global object "Tonal", but when I try the example from the doc, i.e in detect:

import { chord } from "tonal-detect"
console.log(chord(["C", "E", "G", "A"])) // => ["CM6", "Am7"]

the console prints out: "Uncaught SyntaxError: Unexpected token import"

Can somebody help me please?

[2018-11-27 19:40] danigb commented on #85
Hi @DvDream,

I'm afraid you have to use a tool to convert your code to something that browsers understand. The easiest way I know is to use [parcel](https://parceljs.org/). Other alternatives are browserify, rollup or webpack (in order of complexity).

The general idea is to create a file with .js extension that imports the code (the same way you did above) and then use the tool to convert that i

[2018-11-27 19:40] #85 closed

[2018-11-28 23:57] DvDream opened #86 "Chords detection bug (maybe?)"
Hi, I don't understand why considering whatever chord except from Cmaj7 (I tested some chords), the function chord() returns different chords (the inversions) but the tonic of the sequences of notes that I put in is ALWAYS in the second position..is it a bug or am I doing something wrong?
Is there moreover a way to have always the same name of a chord without considering the inversions, so I can p

[2018-11-29 00:00] DvDream commented on #85
Thank you! I'm using parcel now and I solved my problem!! :D

[2018-12-14 20:00] darajava opened #87 "Overload chords.notes?"
Is it possible to have the inverse of `Chord.notes`? For example, is there currently a way to have

[code]

I'm trying to think if this would even be possible, but it's exactly what I need. I wonder if it's already possible too and I just didn't read the documentation properly.

[2018-12-14 20:08] darajava commented on #87
Found it :)

https://danigb.github.io/tonal/api/module-Detect.html

Thanks!

[2018-12-14 20:08] #87 closed

[2019-02-04 22:53] glhrmv commented on #60
I don't know if things have changed since this issue was first posted, but `tonal-key` is included with `npm install tonal`. It isn't exported by `tonal`'s Tonal object though, so you'll still need to `require` or `import` `tonal-key`. I'm not exactly sure why `Key` is tagged as an extension, I think it should be included alongside `Scale` and the others, i.e., put it inside `packages/`.
As for `D

[2019-02-05 09:01] danigb commented on #60
Hi!

Yes, `Key` is now part of the distribution (in fact, my plan is to bundle all packages by default). The reason `tonal-detect` is not included (yet) is because it doesn't work for some edge cases and I didn't fix it.

Thanks! 👍

Well, is not in active development, but I still maintain it. Any help, collaboration or PRs are more than welcome.

[2019-02-14 06:57] vellebelle opened #89 "Chords from degrees (chord progressions)"
Hi @danigb, thanks for your excellent work on tonal.js.

First of all I'm not sure if this is the right place to ask questions, or if there's a support forum somewhere else? I hope it's ok to ask here though.

I would like to know if it's possible to create a set of chords from chord degrees. I have looked in the Key extension, and I can see this example:

`Key.degrees("C major") => ["I", "ii", "i

[2019-02-14 16:51] danigb commented on #89
Well... I don't think so. It used to be a module to parse roman numerals, but I think I've lost it in some refactor :-(

I think I'd be a good addition. I'll try to implement it, but PR are welcomed, too

[2019-02-14 22:58] #89 closed

[2019-02-14 23:18] danigb commented on #89
Here you have it: https://danigb.github.io/tonal/module-Key.html#.chords

(you have to update tonal-key)

Hope it works!

[2019-02-15 07:01] vellebelle commented on #89
Wow. That was fast.. Amazing! And thank you very much.. I'll check it out this weekend an see if I can get it to work 👍

[2019-02-17 04:44] vellebelle commented on #89
It works perfectly.. Thanks again!

[2019-02-17 08:53] tobx opened #93 "interval/README.md issue"
Hi, awesome work. I was just a bit confused about the `interval/README.md` file until I realized that the contents under a headline belongs to the next headline. Something seems to be shifted: e.g. under `Interval.num(interval) ⇒ String` you find the explanation of `Interval.name(ivl)`.

[2019-02-18 19:34] glhrmv commented on #93
I think this brings up something I thought of the other day: is there even a need for multiple points of entry for the API documentation? One would expect the [live API docs site](http://danigb.github.io/tonal/) to be the central (and hopefully only) authority on it but as we can see from this issue, people are finding inconsistencies and errors and it's not made clear where to go to fix this prob

[2019-02-24 11:11] danigb commented on #93
You are right! Currently, there are too many documentation resources and `Invertal` module is not present (I don't know why)... Do you have any suggestions? Also PR are welcomed...

[2019-02-24 11:27] glhrmv commented on #93
My suggestion to fix this immediate issue would be to use only the central `tonal` module to generate documentation and have the live API site always reflect the latest version. This way you could get rid of the `docs` script in each of the packages that generates the respective module's docs to its README file.

I think it would also be worth merging the extensions with all of the packages. I don

[2019-02-24 11:32] danigb commented on #93
Hi @glhrmv!

Thanks a lot for the feedback. I answer inline:

I've recently removed the docs folder. And yes, I'd be really nice that docs always reflect the latest version, but I didn't find a way to _automate_ this.

The "source of truth" is the source files itself, where all jsdoc is written. Currently, there are two versions: the README.md and the official docs: http://danigb.github.io/tonal/.

[2019-02-26 22:20] danigb opened #95 "Tonal v3 - ¿Remove lerna and tonal packages?"
Currently, [lerna](https://lernajs.io/) is used to create tonal sub-packages like `tonal-note` or `tonal-interval`. But this makes project setup very complex and it's a big entry barrier for people to contribute.

Before ES6, having sub-packages made sense, to reduce the bundle size. But now we have tools that perform treeshacking efficiently.

So my idea is to radically simplify the project struc

[2019-02-27 00:14] glhrmv commented on #93
Not sure how it's been already 3 days since I commented that, time is wild.

I think the main issue with keeping docs separate is it might hinder working with more than one Tonal module. With one source of reference in the same website, a developer using `tonal` can just always go back to it for all of their Tonal needs. If they are split up (i.e., if the official docs site did not exist), develop

[2019-02-27 00:22] glhrmv commented on #95
I'm all for reducing third party dependencies and using as many standard features as possible. 👍

[2019-02-27 21:24] felixroos opened #97 "m6 chords should not include 4th degree"
**Describe the bug**

[code]

returns

[code]

The fourth degree (in this case F) is not part of a minor 6 chord.

**Expected behavior**
should return

[code]

**Additional context**
https://github.com/danigb/tonal/blob/bb72df5fceac29a53d9fea52d16e137ad83f7b2f/packages/dictionary/data/chords.json#L94 > P4 should be removed

see e.g.
https://en.wikibooks.org/wiki/Music_Theory/Complete_List_of_Chord

[2019-02-27 21:26] danigb commented on #97
You're right. Thanks! Would you like to make a PR?

[2019-02-27 21:28] felixroos commented on #97
Okay!

[2019-03-12 09:15] JamesTheHacker opened #99 "Where has tonal-progression gone?"
Where is the documentation for the progressions package? I can find the npm package here: https://www.npmjs.com/package/tonal-progression but I can't find the documentation.

[2019-03-14 10:22] vellebelle opened #100 "Error in Chords o7, M6 and m6 when transposed"
**Describe the bug**
It seems that there is a problem with the three chords o7, M6 and m6. When getting the notes for o7 and M6, the last note (diminished 7th and the 6th note, respectively) are an octave higher than they should be. The m6 also has the 6th an octave too high, but also an extra note added to it (the 4th - This is BTW related to issue #97 ).

**Behavior**
[code]

**Expected behavior

[2019-03-15 08:10] Euthymious opened #101 "Lydian #9 scale includes b9 instead of #9"
**To Reproduce**
Steps to reproduce the behavior:
Tonal.Scale.notes("C lydian #9") => ["C", "Db", "E", "F#", "G", "A", "B"]

**Expected behavior**
Tonal.Scale.notes("C lydian #9") => ["C", "D#", "E", "F#", "G", "A", "B"]

[2019-03-17 21:51] danigb commented on #101
Thanks for reporting!! 👍

Fixed in an upcoming release. Take a look to: https://github.com/danigb/tonal/tree/feat/v3

[2019-03-17 21:51] danigb commented on #100
Thanks for the detailed explanation! 👍

It's fixed in an upcoming release. Take a look to: https://github.com/danigb/tonal/tree/feat/v3

[2019-03-17 21:52] danigb commented on #99
It will be included again in an upcoming release. Take a look to: https://github.com/danigb/tonal/tree/feat/v3

Not yet ready. I'll keep informed.

[2019-03-17 21:55] danigb commented on #97
Hi @felixroos

First of all, thanks a lot for the PR. I've decided not to merge it because of the formatting problems and, address one of the annoying problems of this project: the complex infrastructure.

I've created a new v3 release that you can take a look here: https://github.com/danigb/tonal/tree/feat/v3 where the issue is resolved.

Thanks again!

[2019-04-03 17:51] nickroberts404 opened #102 "Incorrect version published to @latest"
I was having trouble importing anything from `tonal`,  then realized I had version `v3.0.0-alpha1`.
Switching back to `v2.2.1` solved my issues.
Should `v2.2.1` be left as @latest before 3.0 is out of alpha?
If this wasn't a mistake then please disregard!

[2019-04-03 20:04] danigb commented on #102
Yes, my mistake! Sorry. I've republished 2.2.2 as latest and 3.0.0-alpha2 as alpha. Thanks for reporting! 👍

[2019-04-03 20:04] #102 closed

[2019-04-04 00:07] btkramer9 commented on #63
How is one supposed to use code from the extensions in the browser? Excuse me if it's trivial, i'm very novice with JS. Specifically I'm trying to use Tonal.Detect.chord().

In index.html I use
    <script type="text/javascript" src="scripts/tonal.min.js"></script>

and I can call this just fine:
    Tonal.Chord.notes("C", "M");

however this is unable to find the chord function :
    Tonal.Detect

[2019-06-28 23:07] #101 closed

[2019-06-29 00:21] #100 closed

[2019-06-29 00:22] danigb commented on #97
Fixed at v3! Thanks again for reporting! 👍

[2019-06-29 00:23] danigb commented on #93
Now documentation is handwritten. Hope it's everything clear now.

[2019-06-29 00:23] #93 closed

[2019-06-29 00:24] #97 closed

[2019-06-29 00:25] danigb commented on #54
Chord dictionary revamp at v3. Hope it's now fixed.

[2019-06-29 00:25] #54 closed

[2019-06-29 00:42] #70 closed

[2019-06-29 00:43] #62 closed

[2019-06-29 00:47] #53 closed

[2019-06-29 00:52] danigb commented on #95
Well... finally I didn't remove lerna... 😢 but I removed javascript! 😱

v3 is published and uses lerna and typescript, but the setup has been greatly simplified. IMO, the library (code and infrastrcture) is far more developer friendly.

[2019-06-29 00:52] #95 closed

[2019-07-01 18:14] #99 closed

[2019-07-20 14:18] mattiasu96 opened #104 "Minified version not available anymore"
The minified version of the library is not available anymore at the link given at Npm: https://github.com/tonaljs/tonal/blob/master/dist/tonal.min.js

Following the link will give an error 404, also the demo provided in the npm website doesn't work anymore because of the missing link (you can check the error 404 in the console log once you try to load the demo)

[2019-07-20 20:09] danigb commented on #104
Yes, currently there's no package that includes the whole library and I don't know if it will be or how... Meanwhile, you can use v2: https://github.com/tonaljs/v2/blob/master/dist/tonal.min.js

[2019-07-25 16:23] bloom510 opened #105 "Programmatically add scales to dictionary?"
I'm working with some scales not found in the dictionary (primarily Messiaen's [third mode of limited transposition](https://en.wikipedia.org/wiki/Modes_of_limited_transposition)) and I'm wondering if it's possible to programmatically add them from Tonal. If not, could it be added to the dictionary? Thanks!

[2019-07-25 21:57] danigb commented on #105
Hi! I'll be happy to include them 👌. Take a look to the file where all scales are defined (a. .json file inside scale-dictionary package) and open a PR with the changes. We can continue de conversation there 👍

[2019-08-04 07:16] vellebelle opened #106 "Can't transpose array of chord intervals to notes starting on a specific note in a specific octave"
I know this is not a forum to ask newbie questions, but I don\t know where else to ask, so please forgive me. And if there is a support/help forum elsewhere for Tonal, please let me know..

I made a project using tonal v2 and this weekend I started playing around with v3. I am not quite sure I understand how to do something.

In v2 I could import Chord, transpose and Interval from tonal like this:

[2019-08-06 00:19] cannoneyed opened #107 "Types not found"
There seems to be a small issue with the new v3 release, where the types aren't being properly linked in each module's package.json. The release "types" field points to `dist/index.d.ts`, but the typing file is actually located in `dist/tonal/index.d.ts`.

[2019-08-06 10:14] danigb commented on #106
Hi!

First of all, all kind of questions are allowed. Then, I have to said that I'm on vacations, so I can't solve the issue until I'm back (look ma', no computer!)

Said that, the code you posted _should_ work: it's the v3 way to do it. I'll take a look to the problem.

Meanwhile, maybe you can include the tonic in the name and query for the notes. Something like `chord("f#7Maj7").notes`

Hope it

[2019-08-06 10:17] danigb commented on #107
I'm afraid you're right. I'm currently on vacations, but I will fix it as soon as I come back

[2019-08-07 21:32] cannoneyed commented on #107
Thanks! No rush, and I'd open up a PR if it weren't a build thing

[2019-08-09 09:10] #107 closed

[2019-08-09 09:23] #106 closed

[2019-08-09 09:46] danigb commented on #106
Hi @vellebelle

I've fixed the problem in the new 3.2.2 version. Now you code: `chord('Maj7').intervals.map(tranposeFrom('F#7'))` should work properly.

Sorry for the inconvenience.

[2019-08-09 09:46] danigb commented on #107
I've just published a new 3.2.2 version with correct types path.

[2019-08-12 12:43] vellebelle commented on #106
Thank you so much.  Hope you had a good vacation :)

[2019-08-15 16:29] lud opened #108 "Tutorials or cookbooks ?"
Hello,

I am completely lost, I find some examples but I cannot get how I am supposed to use the library.

I would like to pick a root note (say 'G') and then a scale/mode, say ('aeolian'), and finally retrieve all notes in 'G aeolian' and get the list of all chords compatibles with this scale.

Are there guides to explain how to do that ?

Thank you.

[2019-08-19 15:05] danigb commented on #108
Hi,

You're right. The documentation is not clear nor correct (I'll fix it soon).

Anyway, you'll need to use the @tonaljs/scale module. The documentation lives in the repository: https://github.com/tonaljs/tonal/tree/master/packages/scale

To obtain the scale properties, use the `scale` function:

[code]

To obtain the chords, use the `scaleChords` function from the same package:

[code]

Hope it

[2019-08-19 15:06] lud commented on #108
Thank you, I will look into it :)

[2019-08-19 15:10] danigb commented on #108
Hi,

Great! Don't hesitate to ask if you have more problems. I'll reopen the issue and close it when I fix the documentation.

[2019-09-07 13:30] sustained opened #109 "Broken link on repository."
The link on Github on the Code tab (http://danigb.github.io/tonal-app) is broken.

[2019-09-07 13:33] sustained opened #110 "What happened to tonal.range.chromatic?"
I found this in an issue from 2017, when I searched for "chromatic":

[code]

I need to generate chromatic ranges for my sample loader so I know which samples to load e.g. -

[code]

I could do it myself but surely this library can help me to achieve that?

But I looked at the docs for all the new packages in v3 and none of them seem to have anything for chromatic ranges.

I found this on NPM (htt

[2019-09-09 14:19] sustained commented on #110
I just made my own version using `note`, `enharmonic` and `transpose`, `note(...).height` and a loop but I'd rather use yours if it exists. If it doesn't consider this a feature request.

It's kind of odd though, you'll get things like `Ebb1` and other nonsense if you keep transposing by minor seconds so you need to use `enharmonic`.

[2019-09-09 16:19] danigb commented on #110
You're right. Working on this. Expect `range` package to come back soon. 👍

Thanks for reporting 👌

[2019-09-09 16:46] sustained commented on #110
Excellent, appreciated! :smile:

[2019-09-10 13:51] #110 closed

[2019-09-10 13:57] danigb commented on #110
https://www.npmjs.com/package/@tonaljs/range

[2019-09-10 23:15] JackCA opened #112 "@tonaljs/midi type definitions misplaced"
The [@tonaljs/midi "types" key in its package.json ](https://github.com/tonaljs/tonal/blob/b077491aac0e1ea4a378a7592f710730153377b6/packages/midi/package.json#L17)points to a non-existent or misplaced type definition file.

The file exists but it's currently sitting in `dist/midi/index.d.ts` and not `dist/index.d.ts`

[2019-09-11 00:09] #112 closed

[2019-09-11 00:10] danigb commented on #112
Thanks for reporting 👍

[2019-09-11 04:08] JackCA commented on #112
@danigb thanks for the amazing library!

[2019-10-04 07:08] martijnmichel opened #113 "Degrees"
It might be nice to have degrees of a given chord and scale (key).

For instance C major would have:
Cmaj7
Dm7
Em7
Fmaj7
G7
Am7
Bm7b5

For Am melodic minor scales:
A melodic minor
B phrygian #6
C lydian #5
D mixolydian #11
E mixolydian b13

etcetera...

I just found out about tonal so i prolly have the internal naming of the chords and scales written down differntly but could certainly see some op

[2019-10-04 07:11] danigb commented on #113
Hi,

Is https://github.com/tonaljs/tonal/tree/master/packages/scale what are you looking for?:

[code]

[2019-10-04 07:12] martijnmichel commented on #113
No.. the scales are fine. Im talking about degrees within a key.

[2019-10-04 07:14] martijnmichel commented on #113
https://en.wikipedia.org/wiki/Degree_(music)

[2019-10-04 07:15] danigb commented on #113
Ah, ok... something like this? https://github.com/tonaljs/v2/tree/master/extensions/key

The `key` module is not in v3 (yet)

[2019-10-04 07:16] martijnmichel commented on #113
Yes! :) great.. when does it come to v3?

[2019-10-04 07:17] danigb commented on #113
I'll try to do it this weekend 👍

[2019-10-04 07:18] martijnmichel commented on #113
Cool, and will they work on advanced scales like melodic minor too?

[2019-10-04 07:20] danigb commented on #113
Not planned... as far as I know is not a "key"... but I'm open to suggestions both API and implementation. What would you like to have and behave?

[2019-10-04 07:26] martijnmichel commented on #113
Well its not a key but comes from alterations yea.. still for jazz musicians its very nice to know what a degree of melodic minor can be and they teach you in conservatory aswell. Might aswell add it. Some weird scales come out of it ;)

Functionality should be just about the same as it would be a normal key.

Scales/chords built from the notes of a given scale:
a b c d e f# g# - melodic minor - A

[2019-10-04 07:48] martijnmichel commented on #113
http://tocadomusic.nl/guitarneck/
thinking of rebuilding this into a more modern one with tonal.
http://tocadomusic.nl/wp-content/customs/guitarneck/scales.json

[2019-10-04 08:18] danigb commented on #113
Nice! 👍

[2019-10-04 09:32] hyvyys opened #114 "Support for combinations, e.g. Amaj7sus2"
Currently it seems there's not support for advanced chords like Amaj7sus2. `chord-magic` does support them, I think.

[2019-10-07 09:30] hyvyys commented on #114
I checked out `/packages/chord-dictionary/data.ts`. I thought that tonal uses an algorithmic approach, not a dictionary. In see there's some heavy-weight music theory. In that case I'm not sure my chords qualify as proper real chords, but I swear I am able to play them on my guitar and even use in some songs ;D

Also, is (b5) on its own a valid chord, e.g. F(b5)?

[2019-10-07 09:31] hyvyys commented on #114
Also, it would be nice to have an extra field in the chord object `requiredNotes`, typically the same as `notes` but often with omitted `5P`.

[2019-10-07 10:31] hyvyys commented on #114
From https://en.wikibooks.org/wiki/Music_Theory/Complete_List_of_Chord_Patterns#Alterations

    ....

The table itself only contains examples.

[2019-10-17 03:45] claytonmarinho commented on #113
Hi @danigb, Tonaljs is really great. Well done!
I'm currently also looking forward to getting degrees from a given chord/note and scale. Hope you can make it soon :)
Cheers.

[2019-10-17 06:07] martijnmichel opened #115 "Chord substitutions"
It seems tonaljs is missing a feature to output chord subs (or i just missed it being there ;))

For instance:
Cmaj7 can be subbed with Em
or Cmaj79 with Em9
G7(9) -> Bm7b5
G7(9) -> Dm6
etc..

[2019-10-24 10:40] martijnmichel commented on #113
Is this going to be added to v3 still ?

[2019-10-30 07:32] danigb commented on #113
Sorry, I'm pretty busy right now. I'll implement as soon as possible. Meanwhile, you can use https://www.npmjs.com/package/tonal-key as a replacement

[2019-11-05 01:52] mmmveggies opened #116 "[chord-dictionary] duplicate definition for `dominant #9`"
Is this intended? There are two definitions, both exactly the same.
- [section `'''altered'''`](https://github.com/tonaljs/tonal/blob/master/packages/chord-dictionary/data.ts#L38)
`["1P 3M 5P 7m 9A", "dominant #9", "7#9"]`
- [section `'''other'''`](https://github.com/tonaljs/tonal/blob/master/packages/chord-dictionary/data.ts#L51)
`["1P 3M 5P 7m 9A", "dominant #9", "7#9"]`

[2019-11-24 22:12] brylie opened #117 "Website not working"
The documentation website linked in this repository description seems to have moved. When clicking the link, it shows the question "how do you get here?".

[2019-12-08 20:50] pleshakovalexander opened #118 "Why notes array from scale function use different notations?"
for "c chromatic" it's
[code]

Why some of them use "#" and some "b"?

[2019-12-08 22:39] #116 closed

[2019-12-08 22:39] #118 closed

[2019-12-08 22:41] danigb commented on #118
Fixed. Thanks! 👍

[2019-12-08 22:42] danigb commented on #116
Fixed! Thanks 👍

[2019-12-09 00:32] #105 closed

[2019-12-09 00:38] danigb commented on #105
Now you can:

[code]

Hope it helps

[2019-12-09 21:27] #113 closed

[2019-12-09 21:29] danigb commented on #113
Just landed! https://github.com/tonaljs/tonal/tree/master/packages/key

Improvements, suggestions and PRs welcomed 👍

[2019-12-09 23:30] danigb commented on #60
Just published

[2019-12-09 23:30] #60 closed

[2019-12-09 23:41] #104 closed

[2019-12-22 01:03] ssteinerx opened #123 "roman-numeral example is not correct"
In the example,
[code]
is shown to translate to a major 7 chord; it should be a dominant chord.

Above this, in the summary it says:

But the example shows "bVII7" being incorrectly translated to the major 7 chord.

I think that changing the example call to:
[code]
Would solve the issue.

[2019-12-23 10:39] martijnmichel opened #124 "music html entities"
Hi!

This question is not entirely tonal related but my best guess is to find someone with help here.

I have made an app ( you can try it out here: https://play.google.com/apps/testing/org.stroopwafel.music.app ) where I use html entities for musical symbols like a flat or a sharp. The problem im facing is that on some devices the symbols have weird spacing and or styling and cannot be colored. W

[2019-12-25 10:13] martijnmichel commented on #124
Right, for anyone reading this. I've found a solution by making my own glyps at https://icomoon.io/ :))
You can close the issue.

[2019-12-25 10:23] vellebelle commented on #124
I'm reading it.. I checked out your app too.. Pretty cool :)

Actually I was thinking. We are so many people, it seems, making different
projects using Tonal.js. I think it would be pretty cool if there was a
place we could show each other what we are building.. Like a "Made with
Tonal.js" page or something. What do you think?

/Morten

On Wed, Dec 25, 2019 at 5:13 PM martijnmichel <notifications@

[2019-12-25 10:25] martijnmichel commented on #124
Thanks, yes that would be awesome :)

[2020-01-07 05:05] sdn90 opened #126 "Scale type not exported"
https://github.com/tonaljs/tonal/blob/e66a086d9467dd3eaf8fb788cdf5bcc8f331accf/packages/scale/index.ts#L19-L23

[2020-01-08 11:59] #126 closed

[2020-01-08 12:03] danigb commented on #126
Thanks!

[2020-01-31 15:45] pleshakovalexander opened #129 "What is the best way to get notes degree in roman numerals?"
Is it possible to get from @tonaljs/scale object?

[2020-02-02 01:15] mathaou opened #130 "Chord detection only working for C as root (Why is this a feature?!)"
The docs [here](https://github.com/tonaljs/tonal/tree/master/packages/pcset) say that the 'poor man's chord detection' works on the list of intervals starting from C. In testing this, I was trying to get my program to detect chord inversions, so I gave it a Dm7 (C4, D4, F4, A4) and cycled through trying to find an inversion that the library liked.
[code]

In testing, I found that it only likes spe

[2020-02-03 22:19] #129 closed

[2020-02-15 17:18] eagor opened #131 "Wrong alias in scale-dictionary neopolitan major !== dorian b2"
This alias is wrong, since last note of Dorian b2 is 7m, not 7M ([wiki](https://en.wikipedia.org/wiki/Dorian_%E2%99%AD2_scale))

https://github.com/tonaljs/tonal/blob/8b9f9eb2d9892e5c3f4de025e330961cea878af9/packages/scale-dictionary/data.ts#L88

Like here:
https://github.com/tonaljs/tonal/blob/8b9f9eb2d9892e5c3f4de025e330961cea878af9/packages/scale-dictionary/data.ts#L64-L69

[2020-02-21 22:35] #131 closed

[2020-02-21 22:35] danigb commented on #131
Yep! Thanks!!

[2020-03-02 10:35] rowild commented on #52
@mahavira It seems "chord('alt7')", "chord('dim')" and "chord('dim7')" do not generate a proper object (chroma, pcset, intervals... missing)

[2020-03-02 13:14] vellebelle opened #132 "Problem with dim, dim7, and alt7 in Chord package"
I have been using the chord dictionary to pull out the names of all chords. If I take the entries() and get all the names, many of them are empty strings. I therefore took the first item in the aliases array instead. When I pass them to the chord function it works for the most part. However, there are  problems with dim, dim7, and alt7.

chord('dim') returns an object where the empty property is t

[2020-03-02 17:18] pleshakovalexander opened #133 "some sacales return notes with flat and other with sharps sign"
examples:
[code]
[code]
---
[code]
[code]

[2020-03-02 18:16] danigb commented on #132
Thanks for reporting! 👍  I'll look into it asap

[2020-03-02 18:19] danigb commented on #133
This is a feature. Scales has their own spelling. For example, E major key has four sharps. It's normal that E major chord is written the same. The only exception is chromatic, that can be written in with both.

When not using scales (for example https://github.com/tonaljs/tonal/tree/master/packages/range#rangenotes-arraystringnumber-options--string) there's an option to choose if you prefer sharp

[2020-03-02 18:19] #133 closed

[2020-03-02 18:19] danigb commented on #130
Something is broken with that. I'll look into it. Thanks for reporting!

[2020-03-03 14:24] pleshakovalexander commented on #133
@danigb oh, I didn't notice it. Nice feature. But in my case, I get c chromatic for all notes in piano and then compare some notes in arrays, but because of different signature i can't do it. What the better way to compare notes?

[2020-03-03 16:25] danigb commented on #133
If you don't mind the names, the easiest way is to convert them first to midi notes, and then compare. If you don't mind the order, sort the arrays before comparing.

Hope it helps

[2020-03-03 16:27] thebne commented on #130
@danigb just out of curiosity, why don't you support some more "fancy" chord detection?

Either a limited one like [this](https://github.com/greird/chordictionaryjs/blob/master/src/chords.js) and [this](https://pypi.org/project/pychord/) - or a more sophisticated version like music21's (I don't like their implementation because it has no runtime boundaries, but that's the most robust implementatio

[2020-03-03 16:45] pleshakovalexander commented on #133
@danigb oh, why i didn't think of that. You really helped me. Thank you

[2020-03-03 17:16] #132 closed

[2020-03-03 17:17] danigb commented on #132
I hope is fixed in latest published version. Please feel free to reopen if not.

[2020-03-03 17:20] danigb commented on #130
Just because is not easy, and I didn't find time nor energy to write one 🤷‍♀

But help with this issue is more than welcome (ideas on how to implement, PRs, comments...)

[2020-03-03 17:24] #123 closed

[2020-03-03 17:24] danigb commented on #123
Thanks! 👍

[2020-03-04 14:38] rowild commented on #132
Just tested it and it seems to work now. Thank you @danigb !!!

[2020-03-04 17:23] mathaou commented on #130
@danigb Not to knock the work you've already done, but the library I found to work best out of the large handful of different ones I've tried was [mingus](https://bspaans.github.io/python-mingus/). If you have a midi controller you can test out the full capability of its chord detection [here](https://www.mfarstad.com/zodd), but I think they have a really solid way of determining chords. I had to

[2020-03-05 11:27] pleshakovalexander commented on #133
@danigb one more question about this. How I can get the note degree if i can't compare names? Before i was getting the index in the note array that i get from the scale. So i have an array of full notes of one octave(without numbers) and of notes in the scale and i map all notes array to array of objects with note name and degree that i get from index in scale array. I hope you can understand me

[2020-03-06 11:04] rowild opened #135 ""m7b5" exists twice"
Don't know if this is on purpose, but m7b5 exists twice in the dictionary and therefore also produces 2 results, when listed.

![m7b5-twice](https://user-images.githubusercontent.com/213803/76078269-92c5d200-5fa2-11ea-99a7-871173453a1a.png)

[2020-03-07 10:35] gabergg commented on #22
@derBingle Did you ever end up building a system to translate to/from NNS on top of tonal? I'm looking to build the same thing, and would love to hear if that's something you ended up finishing!

[2020-03-09 08:53] martijnmichel opened #136 "TonalJS REST api"
Ive created a small REST api for tonaljs and deployed it on ZEIT.

https://tonaljs-rest-api.now.sh/

available urls for now are:

CHORD
list all chords > /chord
get one chord > /chord/:chordalias
get transposed > /chord/:root/:chordalias

SCALE
list all scales > /scale
get one scale > /scale/:scalename
get transposed > /chord/:root/:scalename

INTERVAL
list an interval > /interval/:name
tranposed

[2020-03-09 13:20] #135 closed

[2020-03-09 13:20] danigb commented on #135
Thanks for reporting 👍  Nice UI, by the way 👏

[2020-03-09 13:22] danigb commented on #136
Nice! 👏

[2020-03-09 16:40] rowild commented on #135
Thank you for fixing this so quickly!!!

[2020-03-11 22:18] danigb commented on #130
@mathaou Thanks for mingus link! 🙏  I liked a lot, looks like a great library.

And encouraged by that, I've implemented a chord detection mechanism that _hopefully_ works 😅 (it's not based in mungus approach, since tonal uses dictionaries... but it was nice to see other approaches)

So heres the new package: https://github.com/tonaljs/tonal/tree/master/packages/chord-detect

[2020-03-11 22:18] #130 closed

[2020-03-11 22:18] danigb commented on #86
Here: https://github.com/tonaljs/tonal/tree/master/packages/chord-detect

[2020-03-11 22:18] #86 closed

[2020-03-11 22:21] danigb commented on #115
An implementation of this would be great! 👍

Do you have any ideas about how to implement it? Perhaps we can discuss them in this issue :-)

[2020-03-12 07:33] martijnmichel commented on #115
ill make a fork of tonal and see how the internals work, maybe itll give me an idea..

[2020-03-12 08:07] rowild commented on #136
Thank you! Awesome! Bookmarked!
Would be great, if the root age could have a bit of a design and explanation.

[2020-03-12 08:10] martijnmichel commented on #136
What do you mean?

btw: https://github.com/martijnmichel/tonaljs-rest-api

[2020-03-12 08:12] rowild commented on #136
I just thought that, when calling https://tonaljs-rest-api.now.sh/ directly there should be sth else but an error message... but its just icing on the cake! :-)

[2020-03-12 08:25] rowild opened #141 "Is there a "communication" channel anywhere?"
I was wondering if there is a Slack of Gitter or Discord channel for tonaljs, where we could exchange ourselves. So far I didn't find anything like that. Did I oversee something? If not, any chance to create such a channel?

[2020-03-12 10:02] rowild opened #142 "Set Number: Which source do you use / refer to?"
Hi!

I was wondering which source you use for the set numbers. I know Alan Forte's system, which is quite different (and not yet implement in this library, right?) and I know John Rahn and Joseph N Straus's systems, none of whom use 0 to 4096.

I also ask, because when I list them, I get this one strange chord "M" (setNum 2192), which, as a second option has ... nothing? How can / does this happen

[2020-03-12 11:03] danigb commented on #142
Briefly: the set chroma is generated (12-digit binary number, one digit per pitch class. 1 means note).

For example, for pitch class set [c, d] -> chroma 101000000000

Set number: that binary number to base 10 integer

I don't remember the reference

[2020-03-12 11:04] danigb commented on #141
Open to ideas/suggestions (although, right now I can't handle more communication channels 😱 😂  )

[2020-03-12 11:06] rowild commented on #141
Does that mean you already have some communication channel?

The main reason I ask is, because I find github not the right lace to ask question... I assume there is also no forum?

Are you mainly on Slack, Gitter or Discord? I could open a channel on any of your preferred platforms, invite you and ... well, get going... :-)

[2020-03-12 11:07] rowild commented on #142
Any idea why 2192 happens?

[2020-03-12 11:08] danigb commented on #141
For me it's ok to ask questions here (at least, while they are only a few). I don't think I can watch another stream, sorry 🤷‍♀

[2020-03-12 11:11] rowild commented on #141
Ok, understood! Thanks!

[2020-03-12 11:11] #141 closed

[2020-03-12 11:12] danigb commented on #142
Can you post the code snippet?

[2020-03-12 11:43] rowild commented on #142
Here is a codesandbox:
https://codesandbox.io/s/list-of-tonaljs-chords-ntjye

There are also some chords that have an "_" (underline). I have never seem such a symbol in chord namings - are those on purpose?

[2020-03-12 11:52] danigb commented on #142
Okey, I see: 2192 is the Major chord (1P , 3M, 5P). It has two aliases: "M" and "" (empty).
That's on purpose: when parsing "C" as a chord, I want it to understand is major

[2020-03-12 12:05] rowild commented on #142
Aha. So I should probably leave that one out.
What about the chords with underscore ("_")? Are those valid chord symbols?

[2020-03-12 12:26] danigb commented on #142
Well I'm quite influenced by spanish way to notate chord. We use underscore as an alias of minor 🤷‍♀ . For example `C_7` it's the same as `Cm7`

To give more context: this is a dictionary of chords. The idea is to have many alternate notations to provide flexibility, but I think only first shorthand name (abreviature) should be shown to the user... Open to suggestions, as always

[2020-03-12 12:58] rowild commented on #142
Interesting! Never heard of the Spanish way of notating chords like this. What is a "13#9_" then?

[2020-03-12 13:34] danigb commented on #142
No, that is definitely a typo! 😂  Where is it?

[2020-03-12 13:43] martijnmichel commented on #115
If im gonna be helping you with this it seems ill need to start learning typescript first...

[2020-03-12 13:44] danigb commented on #115
Okey, no worries. We can discuss what you need first...

[2020-03-12 13:46] martijnmichel commented on #115
Im not sure I understand the setup of tonal yet also... for example, how would I test new functionality? import it into another project with HMR ?

[2020-03-12 14:44] rowild commented on #142
There are several of those:

setNum 2454: 13#9_
setNum 2442: 7#5#9_  7#9b13_
setNum 2738: 9#11_  9#4_
setNum 2836: _69 (that might be correct according to your description, right?)
setNum 2338: _7b5 (detto)

If you refer to the sandbox again, it now has a live filter search. That should make it easier to find them (and other kind of strings)

BTW: the filter is not yet working properly, it still s

[2020-03-12 18:10] der-bingle commented on #22
@gabergg Today I go to solve the same problem and find my issue from three years ago w/ your comment from 5 days ago!

I did come up with a solution based on the huge progress @danigb has made with the library in the last 3 years. All I did was adapt `progression.toRomanNumerals` function to convert those roman numerals to arabic numbers using [`big-roman`](https://www.npmjs.com/package/big-roman)

[2020-03-12 21:09] danigb commented on #142
Thanks for pointing me those typos 👍

Quick look to your code. I think it could be replaced by this:

[code]

Hope it helps

[2020-03-12 21:40] rowild commented on #142
Thanks for your feedback! Unfortunately your filter algorithm does not work. The "-" [minus] is not intended, right? That should be a dot... or did you have sth else in mind at this place?
It's a pity... would so much like to get this filter to work properly...

[2020-03-15 09:51] martijnmichel commented on #115
Well i'm deep into typescript atm ;)
Can you explain to me how i can setup a test env for a new module?

[2020-03-15 10:32] danigb opened #145 "Invalid chord short names"
Some names include a lodash at the end

[2020-03-15 10:34] #145 closed

[2020-03-15 10:35] danigb commented on #115
I've updated CONTRIBUTING.md

Hope it helps

[2020-03-15 10:52] danigb commented on #22
Nice! 👌 🎉

Maybe it can be wrapped in a module? 🤔

One little thing. `RomanNumeral.get("IV").step + 1` is the same as `romanToNumber("IV")` so no external libraries are required

[2020-03-15 10:55] martijnmichel commented on #115
it did but it doesnt describe how to setup a test environment, does it?
I cant believe id have to run yarn test:ci everything i change something in my code and wait over a minute for the tests to complete?

[2020-03-15 11:16] danigb commented on #115
You can run `npx jest module-name` in root folder to run the test of one module. For example `npx jest chord-detect`

[2020-03-15 13:16] martijnmichel commented on #115
okay, thatll work.. though it still seems a bit slow to hit the terminal everytime i change a bit of code.
But, we can talk about the actual implementation ;)

[2020-03-15 18:12] gabergg commented on #22
Awesome timing, and a great solution! I hadn't actually seen the `roman-numeral` module.  Thanks so much! And thanks @danigb for all the work & the library!

[2020-03-16 07:33] danigb commented on #133
Sorry for the delay, I've missed your message. I don't understand what are you trying to achieve. What are the scale defrees for?

[2020-03-22 12:54] martijnmichel commented on #115
Ive been trying to come up with a solution.. we need a way to:

- add a seventh reliably to a triad chord to find the 3rd relationship of the 3rd in the chord.
- substract to 6th from the root of the chord to find the 3rd relationship of the 6th.

[code]
There are so many scales listed, many of which are very unknown to me that I find it hard to do the above. Do you have any ideas?

[2020-03-23 12:43] danigb commented on #115
Can you explain me how the algorithm works? For example, to go from "Cmaj7" to "Em" you need to remove the tonic. For example:
- Remove the tonic
- Map the intervals to make the 3th become tonic (Interval.add)
- Find the chord in the dictionary (For example, calculating the set chroma)

[2020-03-24 17:51] #142 closed

[2020-03-25 06:41] vapurrmaid commented on #117
Seems like this should be closed, since the readme for each pkg is used as documentation (https://github.com/tonaljs/tonal#documentation) and the link has been removed from the repository description

[2020-03-25 18:08] rowild opened #153 "[Question] How are chords calculated?"
Hi!

I have a little app that displays chords tonal.js produces with VexFlow:
https://codesandbox.io/s/list-of-tonaljs-chords-ntjye

Currently it has errors, because when "h11" gets displayed, the accidentals are not placed properly. But this actually happens, because VexFlow orders the pitches anew, so in the given example D4 and F4 are moved to earlier places in the array, but the accidentals ke

[2020-03-25 18:20] rowild opened #154 "b9sus & phryg produce different results"
Test app:
https://codesandbox.io/s/list-of-tonaljs-chords-ntjye

the 2 mentioned chords, set 3154, should be 2 namings for the same chord. But they create 2 different results. is that on purpose?

[2020-03-28 11:58] danigb commented on #153
Hi @rowild

Yes, I think this chord is misleading and also very uncommon to say the best. So I think, the best thing to do is remove it completely from the dictionary.

Regarding your question, there's this chord type dictionary where all chords are defined: packages/chord-type/data.ts

Feel free to edit (https://github.com/tonaljs/tonal/edit/master/packages/chord-type/data.ts) and open a PR to ad

[2020-03-28 12:13] #153 closed

[2020-03-28 12:14] rowild commented on #153
Hi @danigb
Thank you for your response!

 So if I understand you correctly that means that initially all chords are added manually via the `data.ts`, right?
The mentioned chord "h11" seems to be the only one where the "order" is "not in order" (lower notes succeed higher notes). And I assume this just happened when it was added manually to the dictionary - right?

How about fixing the order of the

[2020-03-28 12:18] danigb commented on #153
Hi @rowild

I've checked the data and I've just taken two actions (before reading your message, sorry):
- I've re-ordered one of the chords (like you proposed)
- I've removed the other one. The reason: I'm not sure that an structure with C, D, E and F (four consecutive notes) can be called a chord. Even with the most relaxed term this structure doesn't produce any "harmony". So I've decided to del

[2020-03-28 12:24] danigb commented on #154
Hi,

First thing first: you app it's starting to look awesome! Congrats 👏

Looking at the chord data (chord-type/data.ts) I can see both names are aliases, so they should produce same results.
In fact, at my console both produces the exact same output (as expected):
[code]

and:

[code]

How are you generating that notes?

Regarding you question: yes, it can be some different chords with same chro

[2020-03-28 12:26] #154 closed

[2020-03-28 12:27] rowild commented on #153
What do you mean by "one of the chords"? (If you refer to the `m1b5` and `h11` I have to admit that I was of the opinion that these are two namings for the same chord structure.)

As for the 2nd point: I do agree, but is this a problem concerning this/these chord(s)? When replacing to a higher register, there will not be any scale fragments anymore, but a clean structure of thirds...)

Background:

[2020-03-28 13:37] rowild commented on #154
Hi, @danigb !
Thank you for your motivating feedback! :-)

I found my mistake: I didn't send a root key to Chords.get(), but only the string of the chord type:
[code]

That's why the b got cut off and was consequently interpreted as a completely different chord.

Thanks a ton for posting your examples!!! Highly appreciated!

[2020-03-29 04:47] honkskillet opened #155 "Unexpected results from Chord.get() ?"
I am working on a project using this (awesome!) library.  Sometime Chord.get() gives unexpected results.  For example if the arguement is "C7", I get the expected,

`{
name": "C dominant seventh",
"aliases": [ "7", "dom" ],
"type": "dominant seventh",
"tonic": "C",
"notes": [ "C", "E", "G", "Bb" ] ,...}
`

but if I enter "C2"

`{
"name":"C2 ,
"aliases":["M",""],
"type":"major",
"tonic":"C2",
"note

[2020-03-29 05:02] honkskillet commented on #155
Looking at the source, I see that the "quartal" chord comes from a (rather large) set of chords labelled "legacy" in chord-type/data.ts.  All of the legacy chords have names set to empty string, which is why I assume they don't show up for ChordType.names().

[2020-03-29 05:31] honkskillet commented on #155
One suggestion for naming.  For the names of the chord I would spell them out in full english.  For example, the name of C7sus4 is currently "C suspended 4th seventh".  Having both the shorthand "4th" and the spelled out "seventh" seems a little inconsistent.   I would have it be "C suspended fourth seventh".  Also for the chords with flat or sharps I would write them out, ie "C major seventh flat

[2020-03-29 12:58] danigb commented on #155
Hi @honkskillet

Glad you find Tonal useful 👍

I think you're right in all the points. First, I'm aware of the inconsistencies of `Chord.get` results. I think the best solution is to suppose that chord never uses octaves in its names. So `Chord.get('C2')` will return an empty chord. But this is a breaking change. What do you think?

On the naming, you're also right. A PR will be awesome 🎉

[2020-03-30 02:18] honkskillet commented on #155
Yes, I think 'C2' should return an empty chord object.  It would be a breaking change but I'd be surprise if many (any?) people were using it for that purpose since 'C4' thru  'C7' don't return major chords.

Looking through the list of 'legacy' chords, most of them (>90%) could be handled by a relative simple parser that both reads the symbols and generate a 'name'. (These things can get a little

[2020-03-30 02:46] honkskillet commented on #155
An example of an ambiguous chord would be C#9.  Is that a Major 9 chord where C# is the root?  Or a Major 7 chord with an add #9?

[2020-03-30 03:04] honkskillet commented on #155
BTW, currently 'C##9' yields
{"type": "dominant ninth", "notes": [ "C##", "E##", "G##", "B#", "D##" ], ...}.  Due to the ambiguities already inherent in chord naming it might be best to disallow double sharps and double flats?

Also I see you have already grappled with some of the ambiguities inherent in chord naming, for example, from data.ts

"m9#5" yields ["1P 3m 6m 7m 9M"]
but
"m9b5" yield  ["

[2020-03-30 03:04] honkskillet commented on #155
I might be able to help with a parser, if that is what you want.  If so, where in you code would you want it?

[2020-03-30 03:41] honkskillet commented on #153
What is an h11 chord?  I'm not familiar with the H naming conventions.  How does that work?
I found it here https://www.solfej.io/chords/a-sharp-h11

[2020-03-30 03:44] honkskillet commented on #153
Oh.  It's just a B chord?

[2020-03-30 21:21] danigb commented on #155
Hi,

thanks for all comments! Try to answer 👇

Agree. I still think the best solution is to change `Chord.get` to receive `(type, tonic)` and remove any ambiguity

I think that's an error. It should be: `1P 3m 5A 7m 9M`. What do you think?

Well, not 100% sure. The good side of having a dictionary is that "for the same price" you can "detect" chord names using pitch class sets. So probably, not on

[2020-04-10 10:23] MJKEYS21 opened #157 "Chords detection bug still for even the update version"
Getting some messed up chord names first when a play a chord but when played and then hitting the root and second time it shows the right chords if you can tell me which to edit that would be good cause i have studied music theory so i know all the music basics

[2020-04-11 08:38] rowild commented on #157
Without code it is hard to help. Can you share the relevant pieces of your scripts?

[2020-04-11 18:24] MJKEYS21 commented on #157
which ones there are a lot of them

[2020-04-11 18:26] MJKEYS21 commented on #157
![Screenshot (5)](https://user-images.githubusercontent.com/62490852/79051830-04bfb580-7bf8-11ea-86ae-aee0986221cc.png)

[2020-04-11 18:26] MJKEYS21 commented on #157
![Screenshot (5)](https://user-images.githubusercontent.com/62490852/79051851-15702b80-7bf8-11ea-9103-93c6aa698050.png)

[2020-04-11 18:50] MJKEYS21 commented on #157
i just realized im using the old version

[2020-04-11 18:50] MJKEYS21 commented on #157
how do i update it without going through everything again

[2020-04-11 19:23] MJKEYS21 opened #158 "I recently use an old video to install and use tonal how do i update it to the latest version"

[2020-04-11 19:27] rowild commented on #157
You should post YOUR code, note images of your folder.
to update to the latest version use `npm i @tonajs/tonal` as it says in the readme.

[2020-04-11 19:29] MJKEYS21 commented on #157
ohk

[2020-04-11 19:30] MJKEYS21 commented on #157
im using git bash is that ohk to use

[2020-04-11 19:31] MJKEYS21 commented on #157
i got this error

daw24@LAPTOP-86CFVB0D MINGW64 ~/Downloads/Chord Detect
$ npm i @tonajs/tonal
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@tonajs%2ftonal - Not found
npm ERR! 404
npm ERR! 404  '@tonajs/tonal@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can

[2020-04-11 19:31] vapurrmaid commented on #157
You clearly have a typo "@tonajs"

[2020-04-11 19:32] MJKEYS21 commented on #157
Ohk thanks

[2020-04-11 19:32] MJKEYS21 commented on #157
copy and paste error

[2020-04-11 19:33] MJKEYS21 commented on #157
i updated it but the chords are still wrong

[2020-04-11 19:34] rowild commented on #157
How do you generate the chord? You need to post your code!

[2020-04-11 19:34] vapurrmaid commented on #157
^ typo is here too, it happens.

Should be

[code]

[2020-04-11 19:36] MJKEYS21 commented on #157
![Screenshot (6)](https://user-images.githubusercontent.com/62490852/79053281-c5966200-7c01-11ea-8600-765c6b7a8272.png)

[2020-04-11 19:36] MJKEYS21 commented on #157
![Screenshot (7)](https://user-images.githubusercontent.com/62490852/79053294-e1016d00-7c01-11ea-9fb8-47bb739dd05b.png)

[2020-04-11 19:39] danigb commented on #157
Hi,

You're still using the old version. You need:
[code]

Hope it helps. Thanks everyone for the responses!! ❤️

[2020-04-11 19:40] MJKEYS21 commented on #157
so should i delete and or replace a line ?

[2020-04-11 19:43] rowild commented on #157
Add
[code]
on the very top of your script.

And replace your

[code]

With

[code]

I assume at least. I don't have a MaxMSP at hand...

[2020-04-11 19:44] MJKEYS21 commented on #157
ohk thanks for the help

[2020-04-11 19:48] MJKEYS21 commented on #157
![Screenshot (8)](https://user-images.githubusercontent.com/62490852/79053508-908b0f00-7c03-11ea-8ef8-204e13ca22d7.png)

[2020-04-11 19:55] rowild commented on #157
It would be a lot easier to help if you could copy and paste the code instead of adding an image...

[2020-04-11 19:55] MJKEYS21 commented on #157
ohk

[2020-04-11 19:55] MJKEYS21 commented on #157
const tonal = require("@tonaljs/tonal");
const maxApi = require("max-api");
const Detect =require("tonal-detect");

maxApi.outlet("yrreeree");

maxApi.addHandler("detect" , (...midiNotes) => {
 const namedNotes = midiNotes.map(tonal.Note.fromMidi);
 //const chords = Detect.chord(namedNotes);
 tonal.ChordDetect.detect(["Bb", "D", "F#"]);
 const Chords = tonal.ChordDetect.detect(namedNotes);
 if (ch

[2020-04-11 19:59] rowild commented on #157
OK, almost... now please edit your last post and put 3 back ticks before the first and last line of your code example as described here (and add "javascript")

[2020-04-11 20:02] MJKEYS21 commented on #157
im not sure i understand what you mean could you elaborate more please

[2020-04-11 20:04] rowild commented on #157
It is about formatting text to make it better readable. Please make yourself familiar with markdown on github - it helps a lot!

Anyway, try this:

[code]

[2020-04-11 20:07] rowild commented on #157
EDIT:
only `Chord.detect` not `ChordDetect.detect` on line 8
and on line 9 "Chords" is capitalized, but not used as such in the `if`  statement; so make it lowercase...
(fixed previous code sample)

[2020-04-11 20:09] MJKEYS21 commented on #157
ohk

[2020-04-11 20:11] MJKEYS21 commented on #157
but im still getting some messed up chord names

[2020-04-11 20:12] MJKEYS21 commented on #157
like fmaj7 is showing Amaj7

[2020-04-11 20:13] rowild opened #159 "[Question/"Feature request"] Provide lib on a CDN?"
Hi, @danigb !

I was just wondering how to implement tonaljs on jsfiddle or codepen. I assume a library release on a CDN would be necessary right? If so, any chance to provide one?

Thank you!

[2020-04-11 20:21] rowild commented on #157
Please do the following (but I don't know if that woks within MaxMSP):

[code]

And then let us know what the console outputs do... (now a screenshot would be helpful :-) ...)

[2020-04-11 20:22] MJKEYS21 commented on #157
i dont think this is max msp

[2020-04-11 20:24] MJKEYS21 commented on #157
lol ohk

[2020-04-11 20:25] rowild commented on #157
Oha --- what is it then?

[2020-04-11 20:28] MJKEYS21 commented on #157
max 8

[2020-04-11 20:28] MJKEYS21 commented on #157
![Screenshot (10)](https://user-images.githubusercontent.com/62490852/79054248-11003e80-7c09-11ea-9213-55cf869e0519.png)

its still saying some messed up chords

[2020-04-11 20:29] MJKEYS21 commented on #157
i mean i studied music theory if there was a way i could help just let me know

[2020-04-11 20:30] MJKEYS21 commented on #157
![Screenshot (11)](https://user-images.githubusercontent.com/62490852/79054292-53c21680-7c09-11ea-9376-8498b8145768.png)

[2020-04-11 20:35] rowild commented on #157
In the "if" clause change "chords" to "chord".

It seems you don't get a console output... hmmm...

...and Max 8 is what is known (or was known before Ableton bought it?) as MaxMSP :-)

[2020-04-11 20:38] MJKEYS21 commented on #157
ok

[2020-04-11 20:51] MJKEYS21 commented on #157
yea if i singular "chords" to "chord" debug gives me errors

[2020-04-11 20:54] rowild commented on #157
Post them

[2020-04-11 20:55] MJKEYS21 commented on #157
i fixed it already

[2020-04-11 20:56] MJKEYS21 commented on #157
const tonal = require("@tonaljs/tonal");
const maxApi = require("max-api");

maxApi.outlet("yrreeree");

maxApi.addHandler("detect" , (...midiNotes) => {

  const namedNotes = midiNotes.map(tonal.Note.fromMidi);

  console.log("namedNotes =", namedNotes)

  const chord = tonal.chord.detect(namedNotes);

  console.log("chords =", chords)

  if (chords && chords.length > 0) {
    maxApi.outlet("chor

[2020-04-11 20:57] rowild commented on #157
PLease format your code!

[2020-04-11 20:59] rowild commented on #157
you need to pu 3 back ticks before and after the code, like this:

` ` ` javscript
[the code]
` ` `

but WITHOUT the empty spaces between the ticks from my example!

And still no "console.logs"?

[2020-04-11 21:02] MJKEYS21 commented on #157
ohk im doing that now

[2020-04-11 21:07] danigb commented on #159
Hi @rowild

Yes, here it is: https://github.com/tonaljs/tonal/blob/master/packages/tonal/browser/tonal.min.js
Although I don't know how to put it into a CDN... ideas o PR welcomed 👍

[2020-04-11 21:09] rowild commented on #157
And it seems you didn't fix the plural "chords" to singular "chord" in the if clause.
And here, in "tonal.Chord.detect", the "Chord" part MUST be capitalized! That is a tonaljs Object, not you variable.

Anyway: Since you only need Note and Chord from the library, let's try importing only those:

[code]

[2020-04-11 21:12] rowild commented on #159
Ah, excellent! Thank you!
As for CDN, I'll check that out.

[2020-04-11 21:14] MJKEYS21 commented on #157
the debug says chord is not defined

[2020-04-11 21:17] MJKEYS21 commented on #157
is there a way to just re install is from scratch so its better done

[2020-04-11 21:19] MJKEYS21 commented on #157
because the original coding that made it work  is being messed up when i try to add new codes so im wondering if can just get a set by step procedure to uninstalling and installing over tonal

[2020-04-11 21:21] rowild commented on #157
The API of tonal changed, so if you use the new version, you need to change your code. Or you revert to an old version of tonal and use your old script.

[2020-04-11 21:22] MJKEYS21 commented on #157
i dont think i get what your saying

[2020-04-11 21:23] MJKEYS21 commented on #157
cant i just remove the files and then start a new javascript file in vs code then install tonal (new version) and then input the codes?

[2020-04-11 21:31] rowild commented on #157
I tested your code locally and the javascript parts work. Here is a screenshot:

![Screen Shot 2020-04-11 at 23 29 15](https://user-images.githubusercontent.com/213803/79055308-6578dd80-7c4c-11ea-8c8c-4bbfc48c0aed.png)

So either there is a typo anywhere or the Javascript that Max provides, works differently.

[2020-04-11 21:33] MJKEYS21 commented on #157
oh Ohk

[2020-04-11 21:34] MJKEYS21 commented on #157
well i created a new javascript and copied my profile so im gonna try again to see what happens could you stay by to ensure its done properly please

[2020-04-11 21:37] rowild commented on #157
It is a bit late here in Vienna, Austria. I am about to go to sleep. I will look into it tomorrow again.

(If you want you can also hit me per email and we arrange a skype session.)

Finally a second screenshot with what you get, when a Cmin7 chord is entered:

![Screen Shot 2020-04-11 at 23 32 31](https://user-images.githubusercontent.com/213803/79055442-652d1200-7c4d-11ea-9bea-c069a2a7c138.png)

[2020-04-11 21:38] MJKEYS21 commented on #157
Oh ok wow

[2020-04-11 21:38] MJKEYS21 commented on #157
thanks man

[2020-04-11 21:39] MJKEYS21 commented on #157
heres my email martelmartin8@gmail.com

[2020-04-11 21:54] rowild commented on #159
It seems jsDelivr is a fantastic solution since there is not need to load anything up anywhere. It just reads from the github repo. See this article:
https://gomakethings.com/how-to-turn-any-github-repo-into-a-cdn/

But in order to do so, the tonal.min.js needs to reside in a "visible" folder ("blob" isn't visible). So if you could find a way to automate a "dist" (or "release" or sth similar) fold

[2020-04-11 21:59] MJKEYS21 commented on #157
aye i tried starting over by installing over the file

[2020-04-13 20:14] #158 closed

[2020-04-13 20:15] #157 closed

[2020-04-17 08:26] sai-chai opened #160 "ChordDetect is incorrectly detecting chord inversions"
First off, this package is great and really versatile. I'd love to contribute sometime!

That said:
Using ChordDetect, I found that the order of notes in a collection changes the outcome, showing chord inversions even though the actual octave values of the notes being played rule that out. For now, I'm using Note.sortedNames to fix this issue, but it would be good to have the library itself detect

[2020-04-20 14:19] #124 closed

[2020-04-21 18:36] outfitted opened #161 "Getting a diatonic chord sequence starting from a given note"
Is there any easy way to get chord tones for a diatonic chord sequence from a given note? Meaning that for C major starting on C4, I would want:

[code]

Currently I have something like this:

[code]

but that just gives all the notes in the range of C4 - B4. Great library by the way!

[2020-04-23 08:07] martijnmichel opened #162 "tokenize not found in @tonaljs/note"
Ive been using this import for quite a bit of time but now I cant update my app because it will break some of my pages ;/ where did it go?

[2020-04-23 08:48] martijnmichel commented on #162
found another way of doing the same thing.

[2020-04-23 08:48] #162 closed

[2020-04-23 16:25] oxk4r01 opened #163 "Broken link here:"
https://github.com/tonaljs/tonal/blob/master/#documentation

[2020-04-26 02:33] MJKEYS21 opened #164 "slash chords are not correct they are showing different bass notes not based onthe bass note but what note you touch after"
meaning you hold E/C and if you continue holding it touch a G the bass note changes to G/C

[2020-04-26 05:59] MJKEYS21 opened #165 "How do you add chords"

[2020-04-26 06:04] #165 closed

[2020-04-26 10:03] MJKEYS21 opened #166 "how to do you make the other chord names smaller?"

[2020-04-27 15:01] danigb commented on #161
It's true, not obvious 🤔 You can pass a number to the `majorKey` function:

[code]

But there's a problem with the dominant. Keep this issue open until I solve it

[2020-04-27 15:01] danigb commented on #166
I don't understand what you mean. Can you elaborate, please?

[2020-04-27 15:02] danigb commented on #163
Where did you find that link?

[2020-04-27 15:03] danigb commented on #164
True. Bass chords are not supported. Working on this

[2020-04-27 15:04] danigb commented on #160
Thanks for reporting! Can you provide some code examples, please? That makes me easy to find the problem (and the solution)

[2020-04-27 15:26] lukephills commented on #160
I don't see a difference when changing the order of notes in the collection however inversions can be quite weird. Take this example:

[code]

It seems to me that the CM/E should be the preferred chord here.

[2020-04-27 15:41] MJKEYS21 commented on #164
Thank you I have mr Robert working as well but u should continue to help in
case his method doesn't work

On Mon, 27 Apr 2020 at 10:03 AM danigb <notifications@github.com> wrote:

[2020-04-27 15:43] danigb commented on #159
Thanks for the links! Working towards get it available (easily) with jsdelivr

[2020-04-27 15:49] MJKEYS21 commented on #166
Srry about that I was saying if you could adjust JavaScript font size
because in music theory you have the root chord and other chords it could
be so I'm saying if the other chords can be smaller

On Mon, 27 Apr 2020 at 10:02 AM danigb <notifications@github.com> wrote:

[2020-04-27 21:27] danigb opened #168 "Add a new ChordSymbol module"
Add a module to parse chord symbols. Will replace the actual `Chord.tokenize` function but implementing chord roots (aka slashed chords).

It should fix most of the issues of #155

[2020-04-27 22:55] #159 closed

[2020-04-28 04:00] sai-chai commented on #160
@lukephills The chord types could be ranked by how common they are, but unfortunately there's no data or convention to inform that ranking, and a naming convention that's common to one genre might not be used by another. Rock is a perfect example b/c power chords are sort-of ignored by other genres.

[2020-04-28 04:12] sai-chai commented on #160
@danigb The example I have is a bit complicated.

`const [currentNotes, setCurrentNotes] = React.useState([]);`

`   const playNote = React.useCallback(
      midiNote => () => {
         if (!activeNodes[midiNote]) {
            audioContext.resume().then(() => {
               setActiveNodes({
                  ...activeNodes,
                  [midiNote]: instrument.play(midiNote),

[2020-04-28 20:22] rowild opened #170 "[Question] naming of scale seems strange..."
In `scle-type`, line 54, the `aeolian` naming convention is different fromt the others (within single quotes, but aeolian itself is preceded by double quotes:
[code]
Is that on purpose? If so, what is the reason for this naming convention?
Thank you!

[2020-04-28 21:02] danigb commented on #170
I think that's a typo! 😱 Good catch! PR welcomed!

[2020-04-28 21:04] rowild commented on #170
Coming in a moment...

[2020-04-28 21:09] danigb commented on #160
Let me see if I understood: the problem is that same notes in different order produces same chords in different order... If so, I think this is on purpose: chords without inversions are listed first, despite how common the chord is...

Anyway, I'm open to any idea. What should be, in your opinion, the expected output?

Thanks for the explanation

[2020-04-28 21:17] rowild commented on #170
PR merged. Hostia, que rrrrrapido!!

[2020-04-28 21:17] #170 closed

[2020-04-29 01:14] sai-chai commented on #160
The order of chords isn't much of an issue. Like I said, it relies on naming conventions that are variable depending on context.

The real issue is that the order of notes in a collection, given constant octave values, has an effect on what chord the function detects. This shouldn't be the case b/c no matter the collection order, the intervals are identical b/c they're the exact same notes.

If yo

[2020-04-29 08:54] danigb commented on #160
Now I understand, thanks! 👍 I'll take a look and test those cases to see what I able to do

[2020-04-29 16:54] MJKEYS21 commented on #164
Ohk so help me with this  i want to show the scale type when held

On Mon, Apr 27, 2020 at 10:41 AM Martel Martin <martelmartin8@gmail.com>
wrote:

[2020-04-29 16:55] MJKEYS21 commented on #164
its not that i cant do it but your the expert here i=and i have tried some
method but i dont wanna screw up my work

On Wed, Apr 29, 2020 at 11:54 AM Martel Martin <martelmartin8@gmail.com>
wrote:

[2020-04-29 17:17] MJKEYS21 commented on #164
ohk so in all
help me to use the notes folder
the transpose option
and scales

On Wed, Apr 29, 2020 at 11:55 AM Martel Martin <martelmartin8@gmail.com>
wrote:

[2020-04-30 13:43] sai-chai commented on #160
Much thanks!

[2020-05-02 13:38] samuelrafini opened #174 "Could not find a declaration file for module '@tonaljs/tonal'"
When I import tonal for example ``` import { Note } from "@tonaljs/tonal";``` in my ts file I get the warning/error ```Could not find a declaration file for module '@tonaljs/tonal'```

[2020-05-02 13:48] samuelrafini commented on #174
I found another way but I don't know if it's the correct way ``` import Note from "@tonaljs/note/dist";
[code]

[2020-05-04 05:16] mrjacobbloom commented on #174
I'm getting this too. It looks like the declarations file for the `@tonaljs/tonal` package is generated at `dist/index.d.ts`, but the package.json has `"types": "dist/index.dt.ts"`

[2020-05-04 20:11] #174 closed

[2020-05-05 14:33] lukephills commented on #155
I agree on @honkskillet 's points on fixing the naming consistencies. Just a thought on that though. What about exposing a method to allow people to set their own chord data object?

[2020-05-06 09:24] oxk4r01 opened #176 "TypeError: Note is undefined"
I'm triying to start using tonal.js in VisualStudioCode with Nodejs and Parcel.js as bundler.
Here is my file structure and the package.json:
![image](https://user-images.githubusercontent.com/1032224/81160858-eba5ec80-8f8a-11ea-8148-ef5c37e56669.png)

But with a simple console.log() for testing, I'm getting this error:
![image](https://user-images.githubusercontent.com/1032224/81161195-7be43180-8

[2020-05-06 11:08] #176 closed

[2020-05-06 11:11] danigb commented on #176
Sorry! Update library to 3.7.4 and should be working again. Thanks for reporting

[2020-05-06 11:13] #166 closed

[2020-05-06 11:13] danigb commented on #166
Not Tonal related. You can change font size using the browser (or css).

[2020-05-06 11:21] MJKEYS21 commented on #166
Ohk thanks

On Wed, 6 May 2020 at 6:13 AM danigb <notifications@github.com> wrote:

[2020-05-06 11:22] MJKEYS21 commented on #166
I probably should have asked a different question more related

On Wed, 6 May 2020 at 6:21 AM Martel Martin <martelmartin8@gmail.com> wrote:

[2020-05-06 11:52] oxk4r01 commented on #176
It seems solved. Thank you and regards :)

[2020-05-10 14:37] thebne commented on #130
@danigb , just wanted to thank you for this logic again.
I finally released some stable-ish version of [my MIDI project](https://github.com/thebne/midiate), and I'm basing my chord detection (along with some other manipulation) solely on this functionality :)

The only thing I'd consider changing is removing the capital M from the detection (or making it optional), since it's not the standard nota

[2020-05-13 14:14] cambo2015 opened #177 "Getting all chords of exotic and minor modal scales"
Thank you for this library! I am trying to get all the chords for Dorian b2 scale. I followed the documentation and used the chords(); I was able to get the chords for major and its modes, but I couldn't get anything for Dorian b2. Thanks!

[2020-05-13 19:01] thebne opened #178 "Function for note equality that ignores accidentals"
I wanna compare two pitch classes and see if they are represented by the same key in the piano.
So basically:

[code]

Right now I can do that if I cast it to midi (`Midi.toMidi(a) === Midi.toMidi(b)`) but it doesn't work on pitch classes, only on notes with scales.

Edit:

Ideally, I would also want a way to know a deterministic name for each of those, so I could use them as keys for objects etc.

[2020-05-14 13:37] martijnmichel opened #179 "Chord +maj7 on grade 3 in melodic minor not found in chordType.all"
as stated in topic when converting the named chord from tonal.key melodic minor grade III the chord is not found, probably due to faulty naming.

[code]

[2020-05-15 05:26] martijnmichel commented on #179
Also, isn't the first chord CmMaj7 instead of Cm6? ;/

[2020-05-15 07:30] martijnmichel commented on #179
it must either be renamed inside tonal.key or added as alias in tonal.core

if found this in chordType lib
["1P 3M 5A 7M", "augmented seventh", "maj7#5 maj7+5"],

[2020-05-15 17:53] danigb commented on #178
There's the `height` value: it's like midi but works for pitch classes:

[code]

Hope it works. Please reopen if not solved.

[2020-05-15 17:53] #178 closed

[2020-05-15 18:03] danigb commented on #177
It works for me (scale names are lowercase):
[code]

Please reopen if not working for you (and some code snippets will be appreciated)

[2020-05-15 18:03] #177 closed

[2020-05-15 18:24] martijnmichel commented on #179
I've solved it by adding it with Chord.add() though maybe you're right for reopening it.

[2020-05-15 18:30] martijnmichel commented on #168
Would it be nice to have a custom font for tonal js where musical signs get pasted correctly on all browsers? When making Sonid I ran into the issue that the flat/sharp (and others) signs had different spacing and sizes on different OSses.

After a bit of experimenting I found that using a custom font with svg glyphs and setting them in a <span class="sign flat"></span> solved the issue. It might

[2020-05-15 19:28] danigb opened #180 "Keys should be represented with pitch classes instead of notes"
Related to #161. Key in specific note (octave) has makes no sense.

Currently:

[code]

But should:
[code]

Another example:
[code]

Should:
[code]

[2020-05-16 05:58] euniceong opened #182 "package Chord - transpose function - throws error when no tonic is found"
the function transpose throws error when there is no tonic after the chord was tokenize

[2020-05-16 07:31] #182 closed

[2020-05-16 07:31] danigb commented on #182
Well spotted! 👁️  Thanks for the PR

[2020-05-16 09:47] francoisgeorgy opened #184 "Is there a reason the Chord interface is not exported"
Hi,

I love your lib, use it a lot.

But why is the Chord interface (from the chord package) not exported? is there a reason?

Cheers

[2020-05-16 10:27] #184 closed

[2020-05-16 10:28] danigb commented on #184
It should be exported in the latest release 👍

I'm glad you like it and use it! 🎉

[2020-05-16 11:20] thebne commented on #178
@danigb ah, I missed that. Can I also go backwards though?
Can I get a (any) representation of the height as a pitch class? Unless I'm missing something again, it looks like it'll only work with a reverse hash map or so (`{height: note}`), which brings me to square one

[2020-05-16 13:34] #180 closed

[2020-05-16 21:57] cambo2015 commented on #177
Thanks I got it to work! the Scales.scaleChords didn't work but Scale.chords() did. Thanks :+1:

[2020-05-17 21:03] #179 closed

[2020-05-17 21:07] danigb commented on #179
Thanks for reporting! 👍

You're right, the actual chord is `CmMaj7` but `Cm6` represents better it's function 🤔  I think I'd probably change to `CmMaj7` (for consistency), although I'd like to find a reference where it states that should be that one...

[2020-05-17 21:09] danigb opened #186 "[Key module] Probably, first minor melodic chord should be `mMaj7`"
First reported in #179. @martijnmichel and everybody else, opinions?

[2020-05-17 21:13] danigb opened #187 "[Key module] Detect a chord in a Key"
Something like:

[code]

[2020-05-18 06:34] martijnmichel commented on #186
CmMaj7 because the chords are created with stacking thirds.

[2020-05-18 15:48] jlbocquet opened #188 "Error loading tonal.min.js with Microsoft Edge 18.18363"
My page is loading tonal.min.js as follows :
<script src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js"></script>

this error occurs:

![error](https://user-images.githubusercontent.com/42833448/82232600-2286e580-992f-11ea-9e7d-b510324bd247.png)

[2020-05-25 06:08] Euthymious commented on #168
Maybe this one: https://github.com/larsenwork/monomusic

[2020-05-27 08:57] thebne opened #189 "height doesn't handle edge case (Cb!=B)"
see #178 (my last comment).

it looks like it works with a valid example:

[code]

But notice what happens on the "edges" of your scale:
[code]

[2020-06-01 20:20] MJKEYS21 commented on #189
doesnt look anybody is gonna answer......cause i have been emailing this guy from the last 2 months and he has not answered so this is pointless tbh

[2020-06-27 03:56] MysteryPancake opened #190 "Frequency to note?"
I apologize for opening an issue on this, but I am wondering if this library contains functionality to convert from a frequency to a note? I am currently using this code from [pitchdetect.js](https://github.com/cwilso/PitchDetect/blob/master/js/pitchdetect.js#L207-L212):
[code]
I am wondering if there is any equivalent function in this library.

The closest thing I can find is:
[code]
I was just w

[2020-06-27 22:24] dok opened #192 "Slash chords with the bass"
Hey @danigb, I was wondering if you'd like help implementing this. Is there a particular structure that you are thinking about when a user passes in something like:

[code]

What would be the ideal scenario here? How about something like:

[code]

Other references: https://github.com/tonaljs/tonal/issues/164

[2020-06-28 16:56] danigb commented on #192
Hi @dok , yes! That would be awesome.

Sou you are thinking about adding a couple of fields, right? 👇
- `root` (string, "" by default)
- `rootDegree` (number 0 by default, means same as tonic)

I'm wondering if "bass" instead of "root" is a better word? Looks like wikipedia uses that term: https://en.wikipedia.org/wiki/Slash_chord

Things to consider:
- What happens if the root/bass is not part of

[2020-06-28 17:17] danigb commented on #190
You're right! Working on it 👍

[2020-06-28 17:19] danigb commented on #189
@thebne Yes, your're right! Working on a fix 👍

[2020-06-28 17:28] danigb commented on #188
Hi,

I'd need more information about the error. I've just tested in the browser I have available and it works... 🤔

[2020-06-28 17:53] #189 closed

[2020-06-28 18:50] #190 closed

[2020-06-28 21:55] #163 closed

[2020-06-29 03:30] MysteryPancake commented on #190
Wow, that was incredibly fast, thank you!

[2020-06-29 13:02] martijnmichel opened #195 "super locrian contains minor and major third"
The super locrian scale contains a minor and major third.

Please solve by changing the major third to a diminished fourth.

[2020-06-29 14:21] martijnmichel commented on #187
This would be great!

[2020-06-30 03:15] dok commented on #192
Adding "bass" in conjunction with the "root" property sounds good! It would be better than manipulating the root, since we won't lose information about the chord. In that case, I don't think the `rootDegree` would change either.

I think that sounds good for now

That would be like if someone specified a "Eb/Eb" 😂. I think we can either treat it as an "Eb" or return a non-valid chord. What do you

[2020-06-30 09:46] martijnmichel opened #196 "dorian #4 is named dorian #11 in tonal key package"
rename in one of either

[2020-06-30 09:52] martijnmichel opened #197 "lydian #2 in @key is named lydian #9 in @core"
please rename (use naming within the octave)

[2020-07-06 09:51] nieldlr opened #198 "Is there a way to get possible keys based a set of notes?"
Hi,

totally in love with this library! Thanks so much.

I'm not sure if I'm missing this, but I'd like to have the possibility provide a set of notes and tell me what possible keys work with these notes? Is that possible at the moment? Sorry if this is an obvious one!

[2020-07-07 20:46] #197 closed

[2020-07-07 20:46] danigb commented on #197
The wrong name was in the documentation. Fixed. Thanks 👍

[2020-07-07 21:04] danigb commented on #198
Hi,

glad you like it! :-)

I think there's no obvious or easy way to do it. I guess some approach is to generate the major scale for every key you want to test (this is the first decision to make: are flats and sharps allowed as key root?). Then with the @tonaljs/pcset utilities, find if a collection of notes matches the set.

Something like this (but iterating for all desired keys to check):
[co

[2020-07-07 21:13] #195 closed

[2020-07-07 21:13] danigb commented on #195
You're right! Thanks

[2020-07-08 11:24] martijnmichel commented on #8
I just found this issue while scrolling around a bit in tonal and thought of a little tool i some years back which im planning to revise with tonal (and Vue)

http://tocadomusic.nl/guitarneck/

[2020-07-10 08:42] SteveALee opened #200 "Is there anything for Circle of FOuths/Fifths?"
First - this is such an excellent library. Thank you!

I was looking for something, possibly a 'scale', of the Circle of Fourth/Fifths. this is a pretty foundational concept.

I realise I could generate by iterating forths or fifths but that's a  bit of run-time overkill IMHO. For now I [just use a static array](https://github.com/music-practice-tools/music-practice-tools/blob/f567818aaa11fac27a9e

[2020-07-20 07:09] nieldlr commented on #198
I think that helps yes! Got a bit sidetracked at the moment, but will try this in the future. Thanks @danigb!

[2020-07-20 07:09] #198 closed

[2020-07-23 13:17] MartinJohannesNilsen opened #203 "Show chords without capital letter M for Major"
Hi.

Is there a way to not include the capital letter "M" for major chords?

[2020-08-03 15:28] kalkoen opened #204 "Chord Detect does not detect augmented chords"
Consider the following code:
`let chord = Chord.get("Caug");
let testIdentify = Chord.detect(chord.notes);
console.log(testIdentify)`
Output: [ "CMb6", "EMb6/C", "G#Mb6/C" ]

Is it to be expected that Chord Detect does not indentify augmented chords? If so, why not?

[2020-08-19 11:36] janwillemtulp opened #205 "Question, why a strong emphasis on Strings?"
Hi,

I love the tonaljs library! I don't really have an issue to report, but just a question: why do so many functions return arrays of strings instead of typed values? If you want to make combinations of function calls, it would be much easier to work directly with the `Note` objects rather than the String names of of notes as a result of a `Scale.get` function for instance.

Just curious about t

[2020-08-19 15:16] bitworking commented on #114
Hey, I found this issue because I'm developing a MIDI chord detection program. I also try to use this chord data from the wiki article. What I've done to allow these optional notes is to encode it as bitmasks and use bitwise operations. Maybe it's interesting for you:

[code]

Nevertheless, I will probably no longer pursue this approach and switch to an algorithmic approach, because it would be ve

[2020-08-25 13:24] colshacol opened #206 "Chords returned by Scale.scaleChords"
![image](https://user-images.githubusercontent.com/19484365/91179333-fb694e00-e6ab-11ea-8c9e-c6f961c33404.png)

I am confused as to how to work with this. I was expecting the output to be more along the lines of the actual chords in the scale, i.e: Cmaj, Dmin, Emin, Fmaj, Gmaj, Amin, Bdim, Cmaj7, etc...

Any advice on how I can get the data I am looking for?

[2020-08-25 17:58] KaipoJames commented on #206
You need to use the 'key' module to get the data you are looking for.
For ES6 syntax:

**import { Key } from "@tonaljs/tonal";**

**const keyChords = Key.majorKey("C");
###console.log(keyChords.chords);**

**Output:
["Cmaj7", "Dm7", "Em7", "Fmaj7", "G7", "Am7", "Bm7b5"]``**

Documentation on the tonal-key package:
https://www.npmjs.com/package/tonal-key

Hope this helps! :)

[2020-08-25 20:22] colshacol commented on #206
Ah, of course. My apologies! I am a musician of sorts, but for some reason my developer mind took the Key module to be related to the Note module. (As in piano keys. How foolish of me. -_-)

A few things, though:

1. The `Key.chords` method provides seventh chords. Maybe the naming could be more intuitive?

`Key.seventhChords("A major")`?

(I'd be happy to provide a PR if it is discussed and deeme

[2020-08-25 20:56] colshacol commented on #206
Ah, alright! I missed the `Key` package.

`Key.majorKey(...).chords` gives you just the 7th chords, though.

I noticed that the `tonal-key` package gives you the `.triads` method, so combining these two (or resorting to simply using `tonal-key`  methods `chords` and `triads`) I can get a good set of chords from a scale, such as: `["C", "Dm", "Em", "F", "G", "Am", "Bdim", "CMaj7", "Dm7", "Em7", "FM

[2020-08-25 22:46] KaipoJames commented on #206
Yes good find about the triads in the tonal-key package! I also am a musician so I was confused too between the scale and key packages! 😂 I love music theory so this package is very interesting to me!

Also could you provide a specific example for what you are wanting to access in your last paragraph? It is the part where you mention about getting the full list of chords/variants in your key/scale

[2020-08-25 23:41] colshacol commented on #206
I am currently running a puppeteer script to scrape the scale/chord associations from some outdated website. 😋 What I needed to get from tonal is, for example, is the following chords when I input "A major":

`[
      "C#m",
      "D",
      "E",
      "F#m",
      "G#dim",
      "A",
      "Bm",
      "C#sus4",
      "Dsus2",
      "Esus4",
      "Esus2",
      "F#sus4",
      "F#sus2",
      "As

[2020-08-25 23:46] colshacol commented on #206
[Here](https://github.com/colshacol/key-scale-chords/blob/master/scrapedData.json) is the data I scraped. The source seemed pretty trustworthy, albeit outdated. 🤷‍♂️

[2020-08-25 23:52] KaipoJames commented on #206
Ok I see what you need. I am not too sure at the moment how to do that but I will research it more and hopefully we can find a good solution!

[2020-08-26 00:39] colshacol commented on #206
Since you seem to know a little more about music theory than I do, let me you ask you this:

If, for example, C major contains the notes C, D, E, F, G, A, and B, would any chord I composed out of these notes fit in the scale?

[2020-08-26 02:53] KaipoJames commented on #206
Yes, that is correct. As long as all of the notes in a given chord fit into a scale, then the chord fits in that scale.

[2020-08-29 11:56] danigb commented on #205
Hi,

Good question. Short answer: I wouldn't do it again 😂

Long answer: First of all, because when I started this library I planned to use it to live coding music, so I wanted to represent things in the most human way possible. Also at that time I new to functional programming and types, so how data structures fits in a functional model or how to make functions easy to combine was not very clear

[2020-08-30 17:32] danigb commented on #206
Hello!

I think you are mixing several things here.

Each key naturally have some chords. You can find them using the Key module  👉  https://github.com/tonaljs/tonal/tree/master/packages/key

The `majorKey` function returns an object with all chords (but under different keys). You have to merge them all. For example:

[code]

Outputs:
[code]

But also each Key has several scales (or modes).

Lot o

[2020-08-30 17:36] danigb commented on #204
Good point! Looks like a bug. 🤔  I'm going to look into it

[2020-08-30 17:37] danigb commented on #203
Can you elaborate a little, please?

[2020-08-30 17:39] danigb opened #208 "Harmonic function of Key(s) include the chord"
Currently:

[code]

Expected:
[code]

[2020-08-30 17:42] #208 closed

[2020-08-30 19:14] #204 closed

[2020-08-30 19:15] danigb commented on #204
Fixed! https://github.com/tonaljs/tonal/pull/209/files#diff-4ba7f2e276c4adf1baf19fb415e697d4R11

Thanks for reporting! 🙏

[2020-08-30 19:20] #188 closed

[2020-08-30 19:21] danigb commented on #196
This one was fixed some time ago 🙏

[2020-08-30 19:21] #196 closed

[2020-08-30 19:27] danigb commented on #200
Not very nice, but possible:

[code]

[2020-08-31 07:14] Martinnilsen99 commented on #203
When I worked on the project our customer wanted the chords C-major, D-major etc. to not include the capital letter "M". As I used the tonaljs library, the M was used for indicating that it was the major chord, in which I wanted to know if it was an built in solution for not including. I solved it by removing the capital M while looping through all the cords, but feel like it maybe could have been

[2020-08-31 09:23] no-chris commented on #168
Hello,
Not sure how well it fits your use case but this lib can parse chord-symbols into intervals:
https://github.com/no-chris/chord-symbol
Let me know if any interest, I could assist with the integration

[2020-09-10 14:40] janwillemtulp commented on #205
That makes sense! Thanks for explaining!

[2020-09-16 00:26] ppciesiolkiewicz commented on #206
@danigb
Is it possible to get chords for any scale returned by ` Scale.names()`, let's say `egyptian` or `iwato`. How could I know whether the scale is minor or major? Or am I misunderstanding something here?

[2020-09-21 19:01] manuelnelson commented on #36
Hi! I'm new to this library but it seems to be very useful thus far! Good work.
It seems there's been a lot of refactoring since 2017 and I'm trying to find a simple scale detection function that seems to have existed at some point.  It seems there is a ChordDetect.detect(notes:string[]) method, but I can't seem to find the similar method for Scales.  Does this exist anymore, or will I have to fir

[2020-09-21 21:48] 4lejandrito commented on #8
Same as @martijnmichel. I'd like to share my project https://react-guitar.com. All the music theory stuff is built on top of tonal. Thanks so much for such a great project!

[2020-09-22 06:36] justinlawrence commented on #8
Love this, nice work Alejandro!

On Mon, 21 Sep 2020 at 22:49, Alejandro Tardín <notifications@github.com>
wrote:

[2020-09-22 11:48] SteveALee opened #212 "Cannot find the changelog"
Hi I was using tonalsjs/tonmal 4.02 and see the latest is now 4.2.1. However, I cannot see what has changed other than looking at all the commits.

Is there a change log I missed someplace? I looked for a file in the code root and also package folders, plus the issues section of GitHub .

thanks

[2020-09-23 15:54] danigb commented on #8
Nice work! Probably you already know that there's a [Projects using tonal](https://github.com/tonaljs/tonal#projects-using-tonal) section of the readme. PRs to add those projects to the list are welcomed.

[2020-09-23 15:56] danigb commented on #212
Hi Steve,

I'm afraid currently there's no changelog. I have to admit that I'm doing a poor job when communicating code changes. The only option is to see commits (fortunately each version is marked as a new commit).

Keep this issue open to remind adding one. PRs welcomed.

[2020-09-23 16:00] danigb commented on #36
Hi Manuel,

I think you're right. There's no Scale.detect because, as you said, I think scale detection is just a matter of find the chroma of the notes and get the scale that matches.

On the other hand, chord detection is more complex, because different chords can have the same notes (C6 and Am for example) and there are inversions. That's why Chord.detect exists.

[2020-09-23 16:05] danigb commented on #168
Hi Chris,

You library looks great! Congrats. Anyway, I think it's too complex for what I had in mind. Also some of functionality overlaps with tonal (interval to semitones, note names to name a few) so I think it's better to keep them separated.

Good work and thanks for sharing

[2020-09-23 16:06] danigb commented on #203
Sorry, I don't have any better solution.

[2020-09-23 18:04] SteveALee commented on #212
OK, at least I'm not missing somehting :) I'll have a rummage. I saw a couple of new modules.

[2020-09-23 18:04] #212 closed

[2020-09-23 20:42] 4lejandrito commented on #8
Thanks @danigb! I just sent https://github.com/tonaljs/tonal/pull/213.

[2020-09-26 12:42] jcleefw commented on #155
Hi, I just came across this issue and found this topic of discussion. I read through the conversation and it sounded like some solutions are suggested. Was there work being done following the discussion?

I think @lukephills suggestion might not be a bad idea at all, almost like an extension of the subset.

Great lib by the way

[2020-10-08 02:01] jhmcstanton commented on #160
@danigb I took a crack at this. The root note determination in there wont catch all chords, but I think it is order independent now. There is a fallback path to just using the lowest note as the root, which is similar to the current implementation but should also be order independent.

Let me know if you want any changes to it and I'll take another look.

[2020-10-20 00:22] jabza opened #216 "Diatonic chords of any mode?"
Hi, thanks for creating this fantastically useful library.

When using the 'Key' package, the 7 (I, II, III, IV and so on) diatonic chords for major & minor can be seen.

Is it possible to see similar information for the other modes (Lydian, Dorian ect) or perhaps any scale using two half + five full intervals?

Thank you

[2020-10-22 16:05] martijnmichel opened #217 "b9sus chord has a M9"
as stated in topic, please correct typo

[2020-10-22 16:14] martijnmichel opened #218 "m11A has a m6 instead of a augmented fifth"
naming is not correct in this case

[2020-10-22 21:24] spidercatnat opened #219 "Scale over given range using new API."
It used to be the case that if I wanted a scale to span from C2 to C4, I could achieve that with the Range, Dictionary, and Transpose utilities.

For example, in C Major:

`Range.scale(Dictionary.scale('major').map(transpose('C2')), ['C2', 'C4']);`

would yield, if I recall correctly, a scale with notes:

`[
  'C2', 'D2', 'E2', 'F2',
  'G2', 'A2', 'B2', 'C3',
  'D3', 'E3', 'F3', 'G3',
  'A3', 'B3'

[2020-10-23 06:19] sugizo commented on #200
could you explain the correlation between circle of fifths with music scales (pentatonic, hexatonic, octatonic, etc) ?

as far i know, it just show the chord and it's relative, key signatures

ref
https://en.wikipedia.org/wiki/Circle_of_fifths

[2020-10-27 10:40] SteveALee commented on #200
@sugizo

In retrospect I was mixing up my application that included the Circle of Fourths (CoF) and scales.

While both define a set and sequence of ascending or descending notes, the CoF extends past the octave so I guess is significantly different to a normal scale. Identifying key signatures is one use of the CoF but is based pitch mathematics and has [other uses as well](https://www.musical-u.

[2020-10-27 10:40] #200 closed

[2020-10-31 18:03] danigb commented on #219
You're right! I've lost it 🙀  Working on it

[2020-10-31 19:18] #218 closed

[2020-10-31 19:19] danigb commented on #218
Thanks @martijnmichel 🙌

[2020-10-31 19:28] danigb commented on #217
I see... Here the problem is that `b` is interpreted as `B` note, so `b9sus` is interpreted as `B 9sus`:

[code]

Moreover `Cb9sus` is also mis-interpreted as `Cb 9sus`

[code]
It only works with sharpened notes 😫

[code]

The only solution is to pass the tonic and type separated:

[code]

This is an argument to deprecate "combined names" and only accept tonic and type as separated arguments

Idea

[2020-10-31 19:28] #217 closed

[2020-10-31 19:29] #219 closed

[2020-10-31 19:29] danigb commented on #219
[Here it is](https://github.com/tonaljs/tonal/tree/master/packages/scale#scalerangeofscalename-string--from-string-to-string--string) Hope it helps

[2020-11-04 16:31] bali182 commented on #216
Just wanted to do this myself, it would come very useful to get for a given mode all the chords.

Eg.: given `"C dorian"` -> `["Cmin", "Dmin", "EbMaj", "Fmaj"...]`

It would also pretty interesting to get the extended, double extended etc chords. Just math-wise I can think of doing it by

1. taking the given mode (eg.: dorian)
2. figuring out the relative major (not sure how to do it with the libr

[2020-11-04 17:15] danigb commented on #216
Hi,

You're right. I think that should be part of "Mode" module (Key is focused more in tonal functions, and modes has it's own idiosyncrasies). Let me think something about it 👍

[2020-11-04 21:46] #216 closed

[2020-11-04 21:47] danigb commented on #216
I've added a bunch of functions to Mode module: https://github.com/tonaljs/tonal/tree/master/packages/mode#notesmodename-string-tonic-string--string
Let me know if works for you 👍

[2020-11-05 00:58] jabza commented on #216
That module looks pretty much perfect, nice one!

The only thing that could possibly be useful is the roman numeral names to go along with it perhaps? As with the Key module

[2020-11-05 05:44] jabza opened #222 "Module not found: Error: Can't resolve '@tonaljs/tonal'"
After upgrading to v 4.5.0, webpack seems unable to resolve tonaljs.

Using v 4.2.1 works, any ideas?

[2020-11-05 09:46] danigb commented on #222
You're right, my bad 😢

 (Hopefully) Fixed at 4.5.1 version

[2020-11-05 09:46] #222 closed

[2020-11-11 17:04] felixroos commented on #155
Hey there, I was having similar problems with some chords. I wrote a little test script that exposes broken chord symbols:

[code]

result:

[code]

- all those chord symbols will not work as expected
- except b9sus, all of them start with a number or a "-" sign
- some of those are [my fault](https://github.com/tonaljs/tonal/pull/202)
- b9sus is broken because it parses to `["Cb", "9sus"]`

A quic

[2020-11-11 17:56] danigb commented on #155
Thanks everyone for the ideas. It's clear the Chord.get is currently quite broken both for machines and humans.

To be fair, it's true that all music notation was invented long (or looooooong) before computers. For example: C#9. You can't know if it's C# 9 or C #9 ... the only way to discover is by knowing the context, something beyond the scope of this library.

Going back to specifics, there are

[2020-11-11 18:46] felixroos commented on #155
Hey, that was a quick answer :) I am happy that you  are sure about removing octave support.

Currently, this is already the case:

[code]

I guess you mean that the interval structure is lost when just using pitch classes? I think that's not a big deal as you could use the intervals prop, or if you want octaves, just use getChord.

In my opinion, having the pitch classes without octaves is still

[2020-11-11 19:44] danigb commented on #155
Yes, your right! Pitch classes.

I haven't read fully (yet) but they look awesome!! This is kind of things I wanted to do (and never did) when I've started tonal. Thanks for sharing!

[2020-11-11 22:01] felixroos opened #223 "Voicing Package"
As mentioned [here](https://github.com/tonaljs/tonal/issues/155#issuecomment-725595760), it would be cool if tonal could handle voicings. I am stoked that you offered me to contribute :)

I have written about most of my ideas here:

- [voicing dictionaries](https://felixroos.github.io/blog/rhythmical-chords/)
- [voicing permutation](https://felixroos.github.io/blog/voicing-permutation/)

For the s

[2020-11-12 14:51] felixroos commented on #223
Example usage for voicing multiple chords:

[code]

Maybe, sequence could also be a part of Voicing itself...

[2020-11-12 21:48] danigb commented on #223
Hi @felixroos

I am stoked with your contribution ;-)

I did a quick read, but I think I'll need some time to digest and understand this well.

Anyway, some questions/thoughts arose in this first read:

- What lefthand exactly means? (sorry if it's a dumb question)
- Some voicings, like the triads one, can be relatively easy to generate from the chord itself. I'm wondering if it would be possible

[2020-11-12 22:31] felixroos commented on #223
From my understanding, lefthand voicings are piano voicings that can be played with one hand, which is mostly the left one as the right is commonly used to play a melody above. But you can also play them with the right hand and use the left for a bassline. Also, they rarely contain the root note, as the root is often played by a bass instrument (or the left hand if the right hand plays the "leftha

[2020-11-13 08:30] felixroos commented on #223
closing this, as #224 exists

[2020-11-13 08:30] #223 closed

[2020-11-15 16:02] schwich opened #226 "Possible compilation error?"
I get this compilation error when I try to build my project which includes Tonal.

[code]

[2020-11-15 17:10] schwich commented on #226
It's an issue with my setup. Sorry!

[2020-11-15 17:10] #226 closed

[2020-11-15 20:52] felixroos opened #227 "VoicingDictionary should enable mapping multiple chord symbols to one set of intervals"
Copied from https://github.com/tonaljs/tonal/pull/224#issuecomment-727252979

This should be done before publish to avoid a breaking change (if we decide to do it)

Before:

[code]

after:

[code]

This format allows mapping more than one symbol to a set of intervals. This resembles how many chord symbols are sometimes used synonymously. For example, in a jazz leadsheet, a "m7" is mostly played wi

[2020-11-15 20:53] felixroos opened #228 "Voicing.get could be more general"
Copied from https://github.com/tonaljs/tonal/pull/224#issuecomment-727252979

To allow adding other strategies to find voicings later (without needing to change Voicing.get / add a separate method).

Before:

[code]

After:

[code]

This method now has no hard wired connection to voicing dictionary. The voicingGenerator param expects a function that takes a chord and returns a set of intervals:

[

[2020-11-15 21:15] felixroos opened #229 "Voicing method names"
Let's use this issue to discuss the naming of the methods.

[Voicing](https://github.com/tonaljs/tonal/tree/master/packages/voicing#api)

- search: find all possible voicings for a chord
- get: get best voicing for a chord (with voice leading to lastVoicing, if any)
- analyze: analyze a single voicing for some helpful properties
  - notes (all notes)
  - topNote (highest note)
  - bottomNote (lowe

[2020-11-15 21:23] felixroos commented on #227
defining [shell voicings](https://www.thejazzpianosite.com/jazz-piano-lessons/jazz-chords/shell-chords/) would be much shorter with this:

[code]

[2020-11-15 21:38] danigb opened #230 "VoicingDictionary discussion"
The aim of this issue is to publish the first voicing package: Voicing Dictionary.

I create a new issue for this, instead of following  #227 because I want to broaden the discussion.

First of all, to follow conventions of other tonal dictionaries, we don't have several dictionaries (like triads, lefthand, and all) but one dictionary with properties. I imagine something like `VoiceDictionary.get(

[2020-11-15 21:45] danigb commented on #227
I think we should not export the data directly. See #230

[2020-11-15 21:52] danigb commented on #229
Great summary! Thanks.

First of all, I don't understand clearly your distinction between `voicing` and `voice-leading` package. Why `topNoteDiff` function can't be inside voicing package?

In a high overview, what I imagine from your list of functions is something more close to:

- VoiceDictionary: a dictionary of voices
- VoiceAnalysis: analysis of single note voices in context
- VoiceLeading: c

[2020-11-15 22:22] danigb commented on #228
Yes, this is abstract (music theory is! 😂 ) but makes sense.

I really like the idea (agree is much powerful) but not sure still about the API. Let me give it some thoughts...

[2020-11-15 22:52] felixroos commented on #229
Mainly, I separated them because [you told me to](https://github.com/tonaljs/tonal/pull/224#issuecomment-726362341). But it could also easily be a part of voicing.
On the other hand, I imagine having a lot more voice-leading strategies later. I also would not underestimate the complexity that hides here. One example: Voice allocations. If we transition between chords with a different number of not

[2020-11-15 23:05] felixroos commented on #230
Could not agree more, that's much better. To integrate the idea of https://github.com/tonaljs/tonal/issues/227 a dictionary entry could look like this:

[code]

get could take a type string instead:

`get(chord: string, type?: string)`

This then filters the list and returns all entries that contain chord or an alias of chord (inside the chords property).
The filtered items' intervals would then b

[2020-11-15 23:20] felixroos commented on #230
On second thought, I not sure about add / remove, as this always requires 2 function calls.. Using a custom set of voicings should be as easy as possible. What about:

[code]

here, we could optionally pass an array of the VoicingDictionary format.  Maybe we should also omit the type param, as it's easy as

[code]

.. but now it's time for me to sleep 😴

[2020-11-16 12:01] felixroos commented on #228
@danigb haha I just added keyboard shortcuts to [the sandbox](https://k25w8.csb.app/). Check out my "interpretation" of [giant steps](https://streamable.com/ubpaie) 😆

[2020-11-17 06:20] mitchkm opened #231 "Chord.getChord("11", "F#4", "B5") returns empty chord"
https://github.com/tonaljs/tonal/blob/f5a672f9dd9014ef6d341cf68cc3e42e6f8093d3/packages/chord/index.ts#L131
given the use of `distance(tonic.pc, root.pc)`  to get intervals, attempting inversions in extended chords seems to be unsuccessful because the distance function can't return intervals larger than an octave.

[2020-11-19 08:05] martijnmichel opened #232 "Wrong chords for secondary dominants minor relative"
Either I understand the name incorrectly or the chords are somewhat weird.

[code]

Shouldnt Em7b5 be an Em7 in secondaryDominantsMinorRelative?
Also, F#m7 should be F#m7b5.

[2020-11-19 09:02] danigb commented on #229
Sorry, busy week! A quick update:

Yes, now I don't see the point of creating a new package (sorry for the mess). I thing we can keep everything under voicing until it get's too big.

Not exactly a typo. I was trying to create an idiom. I think it would be useful to differentiate between the voicing _shape_ (the intervals) and the actual chord voicing (the voice notes for a specific chord).

Yes,

[2020-11-20 16:18] felixroos commented on #229
Okay, I'll move voice-leading the voicing package.

What about just calling it VoicingShape? We might even call it Shape, as a set of intervals can also represent the shape of a melody if played as a sequence. Btw, how are the interval sets of the chords called?

[2020-11-20 16:32] felixroos commented on #228
Update: The sandbox now evolved into a little app I call [asdf-piano](https://k25w8.csb.app/). The Voicing.search part is now controllable with arrow keys left and right + the voicings above and below the current selection will always use the tightest voice leading. Also added a hotkey to press the pedal. I'll use it as a test rig for the content of voicing-dictionary this weekend :relaxed:

[2020-11-26 05:44] jabza commented on #231
Sometimes seeing this also on 11 chords, Chord.Detect senses a **F69#11/C** (along with Am11A/C), however, but when input _with the root_ into getChord, returns an empty chord. Am11A/C works fine however.

[2020-12-04 15:10] jacopomaroli opened #234 "Tonal.Chord.detect(["D", "F", "C"]) empty result"
Hey guitar player here!
We sometimes omit the 5th from a chord to make it more manageable to play.
Having tonic, 3rd and 7th should be enough to characterize a chord and identify a Dmin7. (other implementations do [here](https://www.oolimo.com/guitarchords/analyze) and [here](https://www.scales-chords.com/findnotes_en.php?n1=D&n2=F&n3=C&n4=&n5=&n6=))
Since I'm transcribing from tabs in realtime, a

[2020-12-08 18:23] KaipoJames commented on #234
Yes, you don't need the 5th in a chord to identify it. As you mentioned, The 3rd and 7th are the notes to look at to identify the basic chord quality. I'm a piano player myself and I often omit the fifth in many chords as well.
 I see what you are wanting.

Tonal.Chord.detect(["D","F","C"]) should return Dm7

It would be great to identify seventh and even ninth chords like this! It definitely coul

[2020-12-08 18:51] jacopomaroli commented on #234
I just filed in the proposal I was working on. Let me know what you think!

[2020-12-08 18:52] KaipoJames commented on #232
I believe you are correct.

Personally, I would have given the secondary dominants of minor chords major qualities instead of minor qualities because it makes the minor chords feel more like the tonic.

Maybe we can add another array something like

[code]

Alternatively, we could have a method that takes in a string as a parameter. That way we would only need one array.

[code]

[2020-12-20 13:19] jabza commented on #206
Regarding this, when trying `scaleChords` on C minor, I noticed 'M' is not returned, but C minor does include major chords, possible bug, or am I misunderstanding this?

[code]

Cheers

[2020-12-29 19:42] Aduffy opened #239 "Access packages such as new voicings in browser builds"
It seems that the browser builds do not contain all of the packages? How would one get a browser built that includes for example the new Voicings packages?

[2021-01-01 05:47] Aduffy opened #240 "Get 7 chords for a given scale"
with the Key.majorKey function a list of the seven chords for that key are provided in the chords property such as

[code]

With one each rooted off each note of the scale.

Can the same thing be gotten for a given scale such as C dorian
I have tried  Scale.get("C dorian ") but it does not provide an equivalent

[2021-01-12 15:59] martijnmichel opened #241 "Some neat TonalJS webp images"
Just wanted to let you guys know I've used Tonal (in combination with puppeteer, vexflow and my own repo of vexchords) to create some neat webp images on my website [Learn music theory with Sonid](https://sonid.app) for each chord and scale in the library and for every root note.

It created around 8k scales and chords all together ;)

[2021-02-09 11:01] flyingCarpet33 opened #242 "Major chords 1st inversion"
Hi guys, not a programmer myself but i use this software to teach myself the piano. Gotta say, amazing work, absolutely love it!

The only minor issue I've noticed that all 1st inversions of major scales are indicated as minor #5s.

For example an F major chord (F A C) played in 1st inversion (A C F) is indicated as Am#5, where F/A would make more sense.

Keep up the good work!

[2021-02-14 12:25] Tom0-o opened #243 "Interval.distance("Db", "C#") returns "0A""
Calling Interval.distance("Db", "C#") returns "0A" when it should be an augmented 7th(7A) or maybe its enharmonic equivalent 1P and 2d. Returning 0A seems weird since Interval.get("0A") returns this:
{
  alt: 1,
  chroma: NaN,
  coord: [NaN, NaN],
  dir: 1,
  empty: false,
  name: "0A",
  num: 0,
  oct: -1,
  q: "A",
  semitones: NaN,
  simple: 0,
  step: -1,
  type: "perfectable"
}
[test code](ht

[2021-02-19 12:10] moxious opened #244 "Documentation update needed for Progressions"
These docs: https://github.com/tonaljs/tonal/tree/master/packages/progression#progressionfromromannumeralskeytonic-string-chordprogression-string--string

state that to get a progression you need a first argument string; (keyTonic) this is not correct; the function takes a NoteLiteral, but there are not docs in place on how to create NoteLiterals, which are not type compatible with Notes.

[2021-03-02 15:51] tobx opened #245 "Enharmonic spelling for altered scale"
Hi,

the `altered` scale intervals of `tonal` are:

`1P`, `2m`, `3m`, `4d`, `5d`, `6m`, `7m`

The correct way (at least the one I learned and that is [documented on Wikipedia](https://en.wikipedia.org/wiki/Altered_scale)) is:

`1P`, `2m`, `2A`, `3M`, `4A` or `5d`, `6m`, `7m`

The altered scale (at least in Jazz) is generally played over a dominant seventh chord. So it is a major scale and should h

[2021-03-25 06:20] mbonnefond opened #246 "C Romanian minor notes are C,D,Eb,Gb,G,A,Bb instead of C,D,Eb,F#,G,A,Bb"
Hi,

The C romanian minor notes should be C,D,Eb,**F#**,G,A,Bb but expression Scale.get("C romanian minor").notes returns C,D,Eb,**Gb**,G,A,Bb

See : [https://codesandbox.io/s/wrong-notes-in-tonaljs-library-forked-otijm](url)

Regards

[2021-04-05 02:57] spidercatnat opened #249 "[Seeking Contributors] Port TonalJS to C++"
I'll keep it short:

No music theory library like this currently exists in any other programming language. I've tried alternatives and they do not get the job done. It would be of immense value to be able to use it in creative coding environments such as openFrameworks.

I've started this endeavor here: https://github.com/spidercatnat/tonal-cpp/tree/development

I am a C++ n00b and would love cont

[2021-04-25 19:19] senritsu commented on #244
From what I gather from a quick look at the source, a `NoteLiteral` is just a union type of various ways to specify the `keyTonic`. You can specify

- note name with octave like `'C4'`
- pitch class (without octave) like `'C'`
- a `Pitch` object (`{step, alt, oct?, dir?}`)
- a `Named` note object (`{name}`, where I assume `name` should be note name or pitch class)

Since `Note` itself extends `Pit

[2021-05-17 11:40] glend1 opened #255 "Abc notation bug in the 0 octave."
using the Abc notation converter I have found that notes in the 0 octave return an empty string. this obviously isn't a huge problem since it is barely audible. but maybe something to look into.

[2021-05-30 12:57] leocaseiro commented on #8
Hey @danigb, just found that opened issue.
Are there any chances to bring back the fretboard module in the newest version?

[2021-06-06 20:01] sashamahalia commented on #255
I wrote a fix for this, thanks for opening the issue.

https://github.com/tonaljs/tonal/pull/258

[2021-07-09 00:22] micahscopes opened #260 "Constrain note to key, scale or pitch class set?"
Hey, just wondering if there's a helper function to constrain notes to set of notes?

[2021-07-10 04:07] micahscopes commented on #260
I made a function to do this for scales in my application:
[code]

[2021-07-10 04:43] dezman commented on #260
@micahscopes I'm into it.

[2021-07-11 18:18] rzyns opened #261 "@tonaljs/abc-notation deprecated by unpublished package @tonaljs/pitch-notation-abc"
`@tonaljs/abc-notation` says it's deprecated in its [`README.md`](https://github.com/tonaljs/tonal/blob/v4.6.0/packages/abc-notation/README.md) and suggests [`@tonaljs/pitch-notation-abc`](https://github.com/tonaljs/tonal/tree/v4.6.0/packages/pitch-notation-abc), but it appears that none of the `@tonaljs/pitch-notation*` packages are published...?

[2021-07-11 19:49] danigb commented on #255
PR is merged. Thanks a lot @glend1 for reporting and @sashamahalia  for fixing! 🙏

[2021-07-11 19:49] #255 closed

[2021-07-11 20:07] #245 closed

[2021-07-23 08:27] sx-spider opened #263 "Mode.notes('lydian', 'F') output error"
Mode.notes('lydian', 'F');

Now, The output is:
['F', 'G', 'A', 'Cb', 'C', 'D', 'E']

I think, it should be:
['F', 'G', 'A', 'B', 'C', 'D', 'E']

[2021-08-11 16:30] itaross opened #266 "How to get all the chords for a scale?"
Is it possible to have all the chords from a scale harmonization?

[2021-08-21 05:34] limking24 commented on #263
Same problem with Mode.triads. Other modes are fine as far as I know.

[code]

[2021-08-21 08:22] lucaorio commented on #266
Are you perhaps referring [to this](https://github.com/tonaljs/tonal/tree/master/packages/mode)?
`Mode.triads("major", "C");`

I hope this helps!

[2021-09-05 10:53] #266 closed

[2021-09-05 10:55] #263 closed

[2021-09-05 11:02] #241 closed

[2021-09-05 11:05] danigb commented on #246
Yes, you're right 👉 https://en.wikipedia.org/wiki/Ukrainian_Dorian_scale

[2021-09-05 11:25] #246 closed

[2021-09-05 12:40] #243 closed

[2021-09-05 12:45] #206 closed

[2021-09-05 12:46] #205 closed

[2021-09-05 12:46] #203 closed

[2021-09-05 12:47] #136 closed

[2021-09-12 16:31] majonathany opened #279 "Easy way to get notes with octave of chords of scale from tonic?"
Hi,

This library is amazing. I actually spent a few Saturdays thinking about this to learn TypeScript to make my own web app, and came up with a Scale, Note and Chord class, not realizing this library does the same, lol. Made a whole bunch of logic for calculating enharmonics, taking a scale name and spitting out a chord list, etc. And then I find your library does the same things, haha.

Maybe I

[2021-10-13 15:50] marcellobarile opened #282 "Inconsistency in the Scale notes documentation"
From the main README:
Scale.get("C major").notes; // =>["C", "D", "E", "F", "G", "A", "B"];

From the "scale" package README:
Scale.get("c5 pentatonic");
// =>
// {
//   empty: false,
//   name: "C5 pentatonic",
//   type: "major pentatonic",
//   tonic: "C5",
//   notes: ["C5", "D5", "E5", "G5", "A5"],
//   intervals: ["1P", "2M", "3M", "5P", "6M"],
//   aliases: ["pentatonic"],
//   setNum: 2708

[2021-10-13 15:52] #282 closed, assigned to nobody

[2021-10-15 04:53] CarrierDirectStrick commented on #239
bump! I can't access the voicing package!

[2021-11-23 15:59] ohmycode opened #284 "Wrong chroma / normalized chroma"
Hi @danigb, I stumbled across the following issue:

`import {Scale, Pcset} from "@tonaljs/tonal";
let scale = Scale.get('D major');
console.log(scale);
`

returns:
`aliases: ['ionian']
chroma: "101011010101"
empty: false
intervals: (7) ['1P', '2M', '3M', '4P', '5P', '6M', '7M']
name: "D major"
normalized: "101010110101"
notes: (7) ['D', 'E', 'F#', 'G', 'A', 'B', 'C#']
setNum: 2773
tonic: "D"
type:

[2021-12-22 17:26] multimanic opened #289 "doc bug in /chord-detect"
This page
https://github.com/tonaljs/tonal/tree/main/packages/chord-detect
says:

With ES6 import:
`import { ChordDetect } from "@tonaljs/tonal";`
and then use it like
`ChordDetect.detect(["D", "F#", "A", "C"]); // => ["D7"]`

In practice this gives me an error message saying
`'ChordDetect' is not exported from '@tonaljs/tonal'.`

What works is this:

 With ES6 import:
`import { Chord } from "@ton

[2021-12-28 00:01] janwillemtulp opened #290 "Major triad symbol inconsistency"
Hi,

When I do `Chord.getChord('maj7', 'C4')` I get proper results, but when I do `Chord.getChord('maj', 'C4')` I get an empty result. It turns out for a major triad I need to do `Chord.getChord('M', 'C4')`

I would say that `maj7` and `M` is a kind of symbolic inconsistency. I guess accepting `M` for major triad should still work as is, but I would expect that `maj` should work as well, espcially

[2022-01-03 06:48] nathanleiby commented on #249
Hi @spidercatnat! I'm also a C++ noob. If I were going about this, I might explore whether any existing tools would allow you to leverage this TonalJS codebase directly, rather than doing a full rewrite in C++. Here's a StackOverflow post suggesting many possible approaches: https://stackoverflow.com/questions/5192223/convert-javascript-code-to-c-code

[2022-01-12 14:12] glend1 commented on #36
I don't think it would be a bad idea to have this as a helper function in the library.

[2022-01-20 20:37] daladim commented on #242
I have exactly the same issue.
I'm using [chord-display](https://github.com/rednetio/chord-display) if that matters, and it indeed puzzles me when trying to learn chords with inversions.

Minor chords are working as I expect: (C, Eb, G) displays as a Cm chord, as well as its inversions (Eb, G, C4 that is shown as Cm/Eb) and (G, C4, Eb4 that is shown as Cm/G)

However, for major chords:
* (C, E, G)

[2022-01-25 14:59] NickToye opened #302 "Chord Progressions only for Major keys"
First of all, love the library - really useful.

However, there doesn't seem to be a chord progression from say 'Am'.  Or have I missed something?

[2022-02-03 15:51] danigb commented on #284
Hello!

Yes, there are an inconsistency between how chrome is used. Basically the "chroma" for scales are always "interval based", and that means that ALWAYS the first interval will be 1P and therefor the leftmost number of the chroma will be 1.

I know this is confusing. That's a consequence of using string for chroma instead of more specific data structure. I'll try to find a solution or mitigat

[2022-02-03 15:54] danigb commented on #302
Thanks!

Don't know what you mean... if I remember correctly, there's no chord progression dictionary. Only some functions to do calculations like the following:

[code]

[2022-02-03 15:56] danigb commented on #290
Yes, I think you're right. From wikipedia 👇
<img width="643" alt="Screenshot 2022-02-03 at 16 55 03" src="https://user-images.githubusercontent.com/7457/152378900-ea71ed24-8aed-4df1-86d3-855f855b61c9.png">

I'll create a PR to fixit

[2022-02-03 15:58] danigb commented on #289
I'd say so... There are some inconsistencies about what modules are exposed and how... this is one of it...

[2022-02-03 16:01] danigb commented on #279
I don't think we have that function inside Tonal. How do you imagine that function (signature) and what is the expected output?

[2022-02-03 16:01] danigb commented on #261
You're right.

[2022-02-03 16:21] danigb commented on #239
Yes. I was never happy with the Voices implementation (I think it get out of scope of `tonal` for the energy I can put on it). Probably I'll move it into an external repository (and module). Meanwhile, I'll keep this issue open

[2022-02-05 02:14] NickToye commented on #302
Of course.  Sorry, feel free to close.

[2022-02-27 17:36] ohmycode commented on #284
Ah! now I understand!
I thought that the normalised representation could be based on the intervals (or each scale shifted to C as root note). But I guess it depends on the use case to see what makes more sense. Anyway, thank you for the explanation!

[2022-03-10 16:46] micahscopes commented on #284
Hey, I just came across this too and am wrapping my head around it.  Am I understanding correctly?

- scales and chords: "chroma" is rotated so that the leftmost bit is in root position.  It represents the scale/chord shape relative to the root.
- pcSet: "chroma" correspond to pitch classes themselves, so the leftmost bit is always C.
- both cases: "normalized" is the maximized representation of t